.admin-content{
    margin-top: var(--Head-top);
    display: flex;
    width: 100%;
    max-width: 1800px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.admin-server{
    flex-grow: 1;
    max-width: 1300px;
    flex-basis: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.admin-info{
    flex-basis: 1300px;
    min-width: 1px;
}
.admin-terminal{
    padding:10px;
}
.admin-user-modify{
    padding:10px;
}
.admin-server-res{
    min-width: 200px;
    padding:10px;
    flex-grow: 2;
}
.admin-server-user{
    min-width: 200px;
    padding:10px;
    flex-grow: 2;
}
.admin-terminal-list-terminal{
    width: 30px;
    height: 30px;
}
.admin-terminal-list-terminal:before{
    content: "\ea81";
    font-family: IcoMoon-Free;
    font-style: normal;
}
.admin-terminal-list{
    list-style: none;
    display: flex;
}
.card{
    padding: 20px;
    background-color: white;
    box-shadow: var(--shadow) ;
}
.admin-server-res-detail-li{
    list-style: none;
}
.admin-server-res-detail-li li{
    color: #9a9a9a;
    margin-top: 20px;
}
.admin-user-detail-li{
    list-style: none;
}
.admin-user-detail-li li{
    margin-top: 20px;
}
.admin-server-res-fresh{
    cursor: pointer;
}
.admin-server-res-fresh:hover{
    transform: rotate(180deg);
}
.admin-user-fresh{
    cursor: pointer;
}
.admin-user-fresh::before{
    content: "\e984";
    font-family: IcoMoon-Free;
    font-style: normal;
}
.admin-server-res-fresh::before{
    content: "\e984";
    font-family: IcoMoon-Free;
    font-style: normal;
}
.shutdownorreboot{
    display: flex;
    list-style: none;
    margin: 0px;
}
.shutdownorreboot li{
    text-align: center;
    height: 80px;
    width: 100px;
    line-height: 80px;
    flex: 1;
    transition: all 0.5s ease;
    cursor: pointer;
}
.shutdownorreboot li:hover{
    background-color: #e3e3e3;
}
.shutdown i:before{
    font-size: 30px;
    content: '\e9b6';
    font-family: IcoMoon-Free;
    font-style: normal;
}
.reboot i:before{
    font-size: 30px;
    content: '\ea2e';
    font-family: IcoMoon-Free;
    font-style: normal;
}
.admin-user-modify-kill:before{
    content: '\e9ef';
    font-family: IcoMoon-Free;
    font-style: normal;
    cursor: pointer;
}
.admin-user-modify-ban:before{
    content: '\ea0e';
    font-family: IcoMoon-Free;
    font-style: normal;
    cursor: pointer;
}
.admin-user-modify-kill:hover{
    color: indianred;
    cursor: pointer;
}
.admin-user-modify-submit:before{
    content: '\ea10';
    font-family: IcoMoon-Free;
    font-style: normal;
}
.admin-user-show{
    color: black;
    opacity: 0.3;
    cursor: pointer;
}
.admin-user-modify-card{
    transition: all .5s ease;
}
.admin-user-modify-card.active{
    overflow: hidden;
    height: 60px;
}
.admin-VideoAccusation-card{
    transition: all .5s ease;
}
.admin-VideoAccusation-card.active{
    overflow: hidden;
    height: 60px;
}
.UserModify.active{
    opacity: 1;
}
.VideoAccusation.active{
    opacity: 1;
}
.admin-user-show:before{
    content: '\e9ba';
    font-family: IcoMoon-Free;
    font-style: normal;
}
.admin-terminal-list{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.admin-terminal-input{
    display: flex;
}
.admin-terminal-input input{
    margin: 5px 20px;
}
.admin-terminal-user{
    display: none;
    width: 260px;
}
.admin-terminal-password{
    display: none;
}
.admin-terminal-cmd{
    width: 300px;
}
.layui-layer-title{
    background-color: rgba(245, 240, 240, 0.5);
}