hr{
    margin: 10px 0px;
}
.profilecontent{
    display: flex;
    width: 80%;
    max-width: 1500px;
    margin-top: var(--Head-top);
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.profile-detail{
    flex-basis: 1100px;
    padding: 20px;
    border-radius: 5px;
}
.profile-other{
    padding: 20px;
    flex-basis: 270px;
    height: 800px;
    flex-grow: 1;
    /*border:5px dashed black;*/
    max-width: 1100px;
}
.profilefooter{
    height: 50px;
}
.profile-background{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 400px;
}
.profile-info{
    width: 100%;
    height: 80px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.profile-info div{
    height: 100%;
    padding: 0px 20px;
    font-size: 15px;
    font-family: "微软雅黑 Light";
    line-height: 80px;
}
.profile-img{
    border:3px solid rgba(255,255,255,0.5) ;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    position: absolute;
    vertical-align: bottom;
    margin-top: -50px;
    transition: all .1s ease;
    cursor: pointer;
}
.profile-img:hover {
    border:8px solid rgba(255,255,255,0.5) ;
}
.profile-id{
    background-color: white;
    height: 80px;
    padding: 10px;
    font-family: "微软雅黑 Light";
    font-size: 14px;
}
.profile-message{
    font-family: "微软雅黑 Light";
    background-color: white;
    margin-top: 20px;
    height: 380px;
    padding: 10px;
}
.profile-message-content{
    list-style : none;
    padding: 5px;
    font-size: 15px;
}
.profile-tools{
    height: 70px;
    margin-top: 16px;
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    transition: all .2s ease;
}
.profile-tools li{
    cursor: pointer;
    flex:1;
    text-align: center;
    line-height: 70px;
}
.profile-tools li:hover{
    background-color: #eeeef3;
}
.profile-logout i::before{
    content: "\ea14";
    font-style: normal;
    font-family: IcoMoon-Free;
}
.profile-chat i::before{
    content: "\e96d";
    font-style: normal;
    font-family: IcoMoon-Free;
}
.profile-set i::before{
    content: "\e991";
    font-style: normal;
    font-family: IcoMoon-Free;
}
.profile-cloud i::before{
    content: "\e9c1";
    font-style: normal;
    font-family: IcoMoon-Free;
}
.profile-upload i::before{
    content: "\e9c6";
    font-style: normal;
    font-family: IcoMoon-Free;
}
.profile-content{
    background-color: white;
    min-height: 270px;
    padding: 10px;
    display: flex;
}
.profile-content-myvideos{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.profile-content-myvideos li{
    flex-basis: 314px;
    height: 200px;
    flex-grow: 1;
    max-width: 220px;
    min-width: 200px;
    transition: all .5s ease;
}
.profile-content-myvideos li div{
    height: 100%;
    opacity: 0.7;
}
.profile-content-btns{
    padding: 10px 0px;
    list-style: none;
    font-family: IcoMoon-Free;
}
.profile-content-btns li{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
}
.profile-content-btns li.active{
    color: #e3e3e3;
    background-color: black;
}
.profile-content-btns li:hover{
    color: #e3e3e3;
    background-color: black;
}

.profile-content-myvideos-btn{
    font-family: IcoMoon-Free;
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: right;
    height: 50px;
}
.profile-content-myvideos-btn span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all .5s ease;
    color: rgba(0, 0, 0, 0.3);
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.profile-content-myvideos-btn span:hover{
    color: black;
}
.page-bar{
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    font-family: IcoMoon-Free;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.page-bar span:hover{
    color: rgba(0, 0, 0, 1);
}
.del-warning{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.del-warning-content{
    font-family: IcoMoon-Free;
    flex-basis: 500px;
    background-color: #202426;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.del-warning-title{
    padding: 10px;
    color: #e3e3e3;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.del-warning-warn{
    padding: 20px 10px;
    display: flex;
    border-top: 1px solid rgba(255, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 0, 0, 0.4);
    background-color: rgba(255, 0, 0, 0.1);
}
.del-warning-detail{
    color: #e3e3e3;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.del-warning-list{
    list-style: none;
    padding:0px 20px;
    margin: 0;
}
.del-warning-list a{
    cursor: pointer;
}
.del-warning-final{
    padding: 20px;
}