hr {
    margin: 10px 0px !important;
}

.profilecontent {
    display: flex;
    width: 90%;
    max-width: 1500px;
    margin-top: var(--Head-top);
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.profile-detail {
    flex-basis: 1050px;
    padding: 20px;
    border-radius: 5px;
}

.profile-other {
    padding: 20px;
    flex-basis: 400px;
    flex-grow: 1;
    /*border:5px dashed black;*/
    min-width: 350px;
    max-width: 1050px;
    margin-bottom: 10px;
}

.profilefooter {
    height: 50px;
}

.profile-background {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 400px;
    display: flex;
}

.profile-background-change{
    background-color: rgba(62, 62, 62, 0.3);
    width: 50px;
    font-size: 20px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    cursor: pointer;
}
.profile-info{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0;
    list-style: none
}
.profile-info-name{
    display: flex;
    align-items: center;
    margin-left: 140px;
    font-weight: 600;
    letter-spacing: 1px;
}

.profile-info div {
    height: 100%;
    padding: 0px 20px;
    font-size: 15px;
    font-family: "微软雅黑 Light";
    line-height: 80px;
}
.profile-info-other{
    border-radius: 0px 0px 10px 10px;
    height: 80px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.profile-info-desc{
    background-color: white;
    padding: 20px 20px 0px 20px;
    font-family: 'Segoe UI';
    font-size: 15px;
    color: rgba(0,0,0,0.5);
}
.profile-info-other-btns{

}
.profile-info-other-btns span{
    padding: 7px 15px;
    margin-left: 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: black;
    color: #e3e3e3;
    font-weight: 600;
}
.profile-img {
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    width: 160px;
    height: 160px;
    position: absolute;
    vertical-align: bottom;
    margin-top: -80px;
    margin-left: 20px;
    transition: all .1s ease;
    cursor: pointer;
}

.profile-img:hover {
    border: 8px solid rgba(255, 255, 255, 0.5);
}

.profile-message {
    font-family: "微软雅黑 Light";
    background-color: white;
    height: 400px;
    padding: 10px;
}
.profile-follow {
    font-family: "微软雅黑 Light";
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
}

.profile-message-content {
    list-style: none;
    padding: 5px;
    font-size: 15px;
    margin: 0;
    height: 100%;
}

.profile-tools {
    height: 70px;
    margin-top: 16px;
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    transition: all .2s ease;
    padding-left: 0;
}

.profile-tools li {
    cursor: pointer;
    flex: 1;
    text-align: center;
    line-height: 70px;
}

.profile-tools li:hover {
    background-color: #eeeef3;
}

.profile-logout i::before {
    content: "\ea14";
    font-style: normal;
    font-family: IcoMoon-Free;
}

.profile-chat i::before {
    content: "\e96d";
    font-style: normal;
    font-family: IcoMoon-Free;
}

.profile-set i::before {
    content: "\e991";
    font-style: normal;
    font-family: IcoMoon-Free;
}

.profile-cloud i::before {
    content: "\e9c1";
    font-style: normal;
    font-family: IcoMoon-Free;
}

.profile-upload i::before {
    content: "\e9c6";
    font-style: normal;
    font-family: IcoMoon-Free;
}

.profile-message-container {
    height: 315px;
    overflow-y: auto;
}
.profile-message-follow{
    max-height: 260px;
    overflow-y: auto;
}

.profile-message-follow::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    scrollbar-arrow-color: red;
}

.profile-message-follow::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    scrollbar-arrow-color: red;
}

.profile-message-follow::-webkit-scrollbar-track { /*滚动条里面轨道*/
    border-radius: 0;
    background: rgba(0, 0, 0, 0.05);
}

.profile-message-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    scrollbar-arrow-color: red;
}

.profile-message-container::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    scrollbar-arrow-color: red;
}

.profile-message-container::-webkit-scrollbar-track { /*滚动条里面轨道*/
    border-radius: 0;
    background: rgba(0, 0, 0, 0.05);
}

.profile-content {
    background-color: white;
    min-height: 270px;
    padding: 10px;
    display: flex;
}

.profile-content-myvideos {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile-content-myvideos.active li .videos-each-del {
    transform: rotate(-90deg);
}

.profile-content-myvideos li {
    height: 150px;
    flex-grow: 1;
    min-width: 225px;
    transition: all .5s ease;
    max-width: 450px;
}

.profile-content-myvideos li div {
    height: 100%;
    opacity: 0.7;
}

.profile-content-btns {
    padding: 10px 0px;
    list-style: none;
    font-family: IcoMoon-Free;
}
.profile-content-mode a{
    margin-right: 20px;
}
.profile-content-myvideos-btn {
    font-family: IcoMoon-Free;
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin: 0px 10px;
}

.profile-content-myvideos-btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all .5s ease;
    color: rgba(0, 0, 0, 0.3);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.profile-content-myvideos-btn span:hover {
    color: black;
}
.profile-content-myvideos-btn h2 {
    display: flex;
    align-items: center;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-family: "Segoe UI";
}
.nothing{
    display: flex;
    justify-content: center;
    padding: 20px;
    opacity: 0.5;
}
.del-warning {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    min-width: 625px;
    background-color: rgba(0, 0, 0, 0.4);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.input-group{
    flex-wrap: nowrap!important;
}
.cropper-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    min-width: 625px;
    background-color: rgba(0, 0, 0, 0.2);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.cropper-area{
    min-width: 625px;
    max-width: 50vw;
    max-height: 50vh;
    margin: 10px 0px;
}
.cropper-background-container{
    flex-basis: 500px;
    padding: 10px;
    background-color: #faf3f3;
    border-radius: 10px;
    position: relative;
}
.cropper-background-btns{
    display: flex;
    justify-content: space-between;
}
.cropper-background-btns span{
    padding: 5px 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 0px 5px;
}
.del-warning-content {
    font-family: IcoMoon-Free;
    flex-basis: 500px;
    background-color: #202426;
    border-radius: 5px;
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.del-warning-title {
    padding: 10px;
    color: #e3e3e3;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.del-warning-warn {
    padding: 20px 10px;
    display: flex;
    border-top: 1px solid rgba(255, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 0, 0, 0.4);
    background-color: rgba(255, 0, 0, 0.1);
}

.del-warning-detail {
    color: #e3e3e3;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.del-warning-list {
    list-style: none;
    padding: 0px 20px;
    margin: 0;
}

.del-warning-list a {
    cursor: pointer;
}

.del-warning-final {
    padding: 20px;
}

.videos-each-tips{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
    display: none;
}
.videos-each-time{
    top: 3px;
    right: 3px;
    position: absolute;
    padding: 2px 3px;
    text-align: center;
    line-height: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-weight: 600;
    font-size: 10px;
    font-family: "微软雅黑 Light";
    letter-spacing:2px;
}
.videos-each-play:before{
    content: "\ea15";
    font-family: IcoMoon-Free;
    font-style: normal;
    color: rgba(62, 62, 62, 0.59);
    font-size: 50px;
}
.videos-each{
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    box-shadow: var(--shadow);
    overflow: hidden;
}
.videos-each.dying{
    opacity: 0;
}
.videos-each-status{
    position: absolute;
    top: 0;
    height: 100%;
    color: rgba(255, 255, 255, 0.68);
    width: 100%;
    padding: 10px;
    transition: all .2s ease;
    bottom: -22px;
}
.videos-each-status span{
    font-weight: 600;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: "Segoe UI";
    text-shadow: 0px 0px 3px #000000;
}
.videos-each-title{
    position: absolute;
    bottom: 0;
    height: 70px;
    color: rgba(255, 255, 255, 0.68);
    width: 100%;
    padding: 10px;
    transition: all .2s ease;
    bottom: -22px;
    background-image: linear-gradient(to bottom, transparent, #000000);
}
.videos-each-del{
    display: flex;
    pointer-events:auto;
    justify-content: center;
    align-items: center;
    font-family: IcoMoon-Free;
    font-size: 20px;
    position: absolute;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    transform-origin: right bottom;
    transition: all .5s ease;
}
.videos-each-del.active{
    transform: rotate(-90deg);
}
.videos-each-del-content{
    width: 100%;
    text-align: center;
    transition: all .5s ease;
}
.videos-each-del:hover .videos-each-del-content{
    color: #ff5e5e;
    transform: rotate(90deg);
}

.videos-each:hover .videos-each-tips{
    display: block;
}
.videos-each:hover .videos-each-title{
    color: #e3e3e3;
    bottom: 0px;
}
.videos-each-title h1{
    position: absolute;
    bottom: 15px;
    font-size: 15px;
    margin-bottom: 15px;
}
.videos-each-title p{
    position: absolute;
    bottom: 5px;
    font-size: 8px;
}
.each-fans{
    margin: 5px 5px 15px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.each-fans img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
}
.each-fans span{
    cursor: pointer;
}
.each-follow-btn{
    padding: 5px 10px;
    background-color: black;
    color: white;
}