
    :root {
        --Head-top: 80px;
        --Test-color: null;
        --Background-color: #eeeef3;
        --shadow: 0 3px 3px 0 rgba(54, 58, 80, 0.32);
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    p {
        margin: 0 !important;
    }
    ul {
        padding-left: 0;
        list-style: none;
    }
    .msg:before{
        content: "\e945";
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .menus:before{
        content: "\ea7a";
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .logout:before{
        content: "\ea14";
        font-family: IcoMoon-Free;
        font-style: normal;
    }
