    :root {
        --Head-top: 80px;
        --Test-color: null;
        --Background-color: #eeeef3;
        --shadow: 0 3px 3px 0 rgba(54, 58, 80, 0.32);
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    p {
        margin: 0 !important;
    }
    ul {
        padding-left: 0;
        list-style: none;
    }
    .msg:before{
        content: "\e945";
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .menus:before{
        content: "\ea7a";
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .logout:before{
        content: "\ea14";
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .play:before{
        content: '\ea15';
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .search:before{
        content: "\e986";
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .list:before{
        content: '\e9ba';
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .date:before{
        content: '\e953';
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .tablelist:before{
        content: '\ea71';
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .auther:before{
        content: '\e971';
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .sliders:before{
        content: '\e992';
        font-family: IcoMoon-Free;
        font-style: normal;
    }
    .share::before{
        content: "\ea82";
        font-family: IcoMoon-Free;
    }
    .pay::before{
        content: "\e93e";
        font-family: IcoMoon-Free;
    }
    .good::before{
        content: "\e9da";
        font-family: IcoMoon-Free;
    }
    .good.active{
        color: #ff8a8a;
    }
    .collect::before{
        content: "\e9d7";
        font-family: IcoMoon-Free;
    }
    .collect.active::before{
        content: "\e9d9";
        color: #f7d400;
    }
    .accusation:before{
        content: "\ea07";
        font-family: IcoMoon-Free;
    }
