@media (max-width: 700px) {
    .sidebar-menus{
        display: none;
    }
    .setting-container{
        padding-left: 20px!important;
    }
}
[v-cloak]{
    display: none;
}
.sidebar-menus{
    width: 240px;
    height: 100vh;
    background-color: #dcdce3;
    padding-top: 60px;
    position: fixed;
}
.setting-container{
    padding-top: 60px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-left: 240px;
}
.sidebar-menus li{
    padding: 20px 25px;
    font-family: "微软雅黑 Light";
    font-size: 15px;
    cursor: pointer;
}
.sidebar-menus li.active{
    background-color: #cacad3;
}
.sidebar-menus li:hover{
    background-color: #cacad3;
}
.setting-avatar{
    flex-basis: 1200px;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.setting-profile{
    flex-basis: 1200px;
    display: flex;
    padding: 20px;
}
.setting-password{
    flex-basis: 1200px;
    display: flex;
    padding: 20px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;

}
.setting-account{
    position: relative;
    width: 100%;
    padding: 0px 20px;
}
.setting-email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.setting-email img{
    width: 150px;
    height: 150px;
    opacity: .5;
}
.setting-email h1{
    margin-bottom: 15px;
    font-size: 25px;
}
.setting-email div{
    font-size: 12px;
    opacity: .5;
}
.setting-email .user-avatar{
    width: 50px;
    height: 50px;
    opacity: 1;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
}
.setting-info{
    padding: 30px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.setting-info-detail{
    padding: 20px 0px 0px 0px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}
.setting-info-detail li{
    margin-top: 25px;
}
.setting-info-detail input{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
}
.setting-info-detail input.active{
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
}
.desc_text{
    color: rgba(0, 0, 0, 0.4)!important;
    background-color: rgba(255, 255, 255, 0)!important;
}
.desc_text.active{
    color: rgba(0, 0, 0, 0.8)!important;
    background-color: rgba(255, 255, 255, 1) !important;
}
.setting-info-gender span{
    padding: 2px 5px;
    border: 1px black solid;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 20px;
    transition: all .5s ease;
}
.setting-info-gender span.active{
    background-color: black;
    color: white;
}
.setting-info-save{
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 18px;
    font-weight: 600;
}
.setting-info-save img{
    width: 150px;
    height: 150px;
    opacity: .5;
}
.setting-info-save span{
    padding: 3px 6px;
    border: 2px black solid;
    color: black;
    cursor: pointer;
}
.setting-info-save span:hover{
    color: white;
    background-color: black;
}
.avatar-container{
    width: 100%;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.avatar-now{
    border-radius: 400px;
    width: 150px;
    height: 150px;
}
.square{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.avatar-btn{
    font-size: 50px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #99a2aa;
    border-radius: 20px;
    transition: all .2s ease;
}
.avatar-btn:hover{
    background-color: rgba(0, 0, 0, 0.15);
    color: #808a8f;
}
.password-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.password-group li{
    width: 35%;
    min-width: 250px;
    margin: 10px 0px;
}
#image{
    display: none;
}
.container{
    height: 100%;
    max-height: 300px;
}
.input-group .input-group-text{
    background-color: rgba(255, 255, 255, 0);
}
.input-group-text.true{
    background-color: rgba(109, 255, 125, 0.7);
}
.input-group-text.false{
    background-color: rgba(255, 30, 0, 0.7);
}

