.heart:before {
    content: "\e9da";
    font-family: IcoMoon-Free;
}

.heart-broken:before {
    content: "\e9db";
    font-family: IcoMoon-Free;

}

.videos-holder {
    display: flex;
    margin-top: 60px;
    max-width: 1400px;
    min-width: 1px;
    margin-bottom: 50px;
}

.video-card {
    box-shadow: var(--shadow);
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
}

.videologo::before {
    color: white;
    width: 30px;
    height: 30px;
    background-color: black;
    content: "\ea15";
    position: relative;
    display: inline-block;
    font-family: IcoMoon-Free;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

.danmu {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 50px;
    background-color: var(--Test-color);
}

.videocontent {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    background-color: var(--Test-color);
    max-width: 1000px;
    min-width: 700px;
    width: 100vw;
    align-content: normal;
}

.danmutitle {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: white;
    box-shadow: var(--shadow);
}

.danmutitle i {
    right: 15px;
    display: inline-block;
    transition: all 0.5s ease;
}

.danmutitle i::after {
    content: "\ea43";
    font-family: IcoMoon-Free;
    cursor: pointer;
    font-style: normal;
}

.danmutitle i.active {
    transform: rotate(180deg);
}

.danmutitle-btn-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 50px;
}

.danmuholder {
    height: 50px;
    transition: all .5s ease;
}

.danmuholder.active {
    height: 500px;
}

.danmutitle div span {
    display: inline-block;
}

.danmu-input-group {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#danmu_content {
    width: calc(100% - 160px);
    border: none;
    outline: none;
}

.danmu-input-group-send {
    border: 1px solid;
    padding: 5px 10px;
    width: 50px;
    outline: none;
    border: none;
    background-color: #21272e;
    color: #e3e3e3;
}

.danmutitlecontent {
    background-color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 0;
}

.ad {
    height: 30px;
    padding: 15px;
}

.videolistcontent {
    position: relative;
}

.nextvideo {
    width: 100%;
    height: 100px;
    margin: 0px 10px;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.danmulist::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    scrollbar-arrow-color: red;
}

.danmulist::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
    scrollbar-arrow-color: red;
}

.danmulist::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
    border-radius: 0;
    background: rgba(255, 255, 255, 0.1);
}

.danmulist {
    font-family: 'NotoColorEmoji';
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    height: 0px;
    margin: 0;
    transition: all .3s ease;
}
.danmulist.hidden{
    height: 0!important;
}
.danmu-btns {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.danmu-input-btns{
    height: 54px;
}
.danmu-input{
    padding: 10px;
    padding-top: 0px;
    height: 90px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nextvideo img {
    display: inline-block;
    height: 80px;
    width: 130px;
}

.nextvideo div a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.each-barrage{
    min-height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}
.each-barrage img{
    height: 30px;
    width: 30px;
    border-radius: 100px;
}

.nextvideo div {
    display: inline-block;
    height: 100%;
    width: 150px;
    vertical-align: top;
}

.nextvideo div a:nth-child(1) {
    height: 45px;
}

.nextvideo div a:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
}

.nextvideo div a:nth-child(3) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
}

.nextvideo div a:hover {
    color: #5c636a;
}

.videoslist {
    list-style: none;
}

.videoslist-info {
    margin-left: 10px;
}

.videoslist li {
    height: 100px;
    padding: 10px;
}

.videoslist li img {
    display: inline-block;
    height: 80px;
    width: 130px;
}

.videoslist li div {
    display: inline-block;
    height: 100%;
    width: 150px;
    vertical-align: top;
}

.videoslist li div a {
    display: block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.videoslist li div a:nth-child(1) {
    height: 45px;
}

.videoslist li div a:nth-child(2) {
    opacity: .5;
    font-size: 10px;
}

.videoslist li div a:nth-child(3) {
    opacity: .5;
    font-size: 10px;
}

.videoslist li div a:hover {
    color: #5c636a;
}

.video-profile {
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 20px;
}

.videodetail {
    display: flex;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    border: 0px dashed black;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.video-detail-play span {
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    color: #5c636a;
    cursor: pointer;
    opacity: 0.5;
}

.videodetail span:hover {
    opacity: 1;
}

.videobtns {
    height: 100%;
    display: flex;
    list-style: none;
}

.videobtns span {
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 16px;
    opacity: 1;
    color: rgba(42, 42, 42, 0.3);
    transition: all .2s ease;
    cursor: pointer;
}

.videobtns span:hover {
    background: #d2d2d2;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    0% {
        background-position: 400%;
    }
}

.videoprofilepic {
    margin-left: 20px;
    line-height: 90px;
}

.video-profilepic img {
    height: 60px;
    width: 60px;
    border-radius: 70px;
    cursor: pointer;
}

.video-profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-profile-name a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-style: normal;
    opacity: 0.7;
}

.video-profile-name a:hover {
    opacity: 1;
}

.follow-holder {
    display: flex;
    align-items: center;
}

.follow {
    max-height: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.follow::before {
    content: "";
    left: 0;
    top: 0;
    height: 10px;
    width: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    align-self: start;
}

.follow::after {
    content: "";
    bottom: 0;
    right: 0;
    height: 10px;
    width: 10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    align-self: end;
}

.follow a {
    text-decoration: none;
    color: black;
}

.thisvideo {
    min-width: 700px;
    max-width: 1000px;
    position: relative;
}

.danmucontent {
    padding: 0px 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
}

.play-tools {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.play-tools-main {
    display: flex;
    list-style: none;
    font-family: IcoMoon-Free;
    font-size: 15px;
    height: 30px;
    margin: 0px;
    color: #21272e;
}

.play-tools-main li {
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.play-tools-refresh:before {
    content: "\ea2e";
    font-style: normal;
    font-weight: 800;
}

.play-tools-refresh:hover {
    transform: rotate(720deg);
}

.play-tools-refresh {
    transition: all 3s ease;
}

.play-tools-stop:before {
    content: "\ea1e";
    font-style: normal;
}

.video-danmucontent-switch {
    display: flex;
    align-items: center;
}

.danmu-switch {
    margin: 0px 20px 0px 0px;
    justify-content: space-between;
}

.video-danmucontent-tools li:hover {
    color: white;
}

.fullscreen-window:before {
    content: "\ea7f";
    font-style: normal;
}

.set {
    transition: all .5s ease;
}

.set:hover {
    transform: rotate(180deg);
}

.videotitle-holder {
    min-height: 30px;
}

.video-auther {
    display: flex;
    width: 240px;
}

.video-title {
    font-weight: 600;
    font-size: 15px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}

.video-title-span {
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    list-style: none;
    margin: 0;
    height: 100%;
}

.video-title-span li {
    height: 100%;
    padding: 0px 0px 0px 10px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.video-holder {
    width: 100%;
    height: 100%;
}

.choose-dropdown {
    display: none;
    position: absolute;
    color: white;
    list-style: none;
    margin: 0px;
    bottom: 29px;
    background-color: black;
    opacity: 0.7;
    z-index: 3
}

.tools-set-dropdown {
    position: absolute;
    color: white;
    list-style: none;
    margin: 0px;
    bottom: 29px;
    background-color: black;
    opacity: 0.7;
    z-index: 3;
    padding: 10px;
    display: none;
    flex-direction: column;
}

.fullscreen-sets:hover .tools-set-dropdown {
    display: flex;
}

.tools-set-barrage {
    display: flex;
}

.tools-set-barrage li {
    margin: 0;
    position: relative;
}

.text-weight {
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-weight:hover {
    color: #0d6efd;
}

.text-weight:hover .danmu-setting {
    display: block;
}

.danmu-setting {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    bottom: 89px;
    left: 0px;
    padding: 5px 15px;
    color: white;
    font-size: 12px;

}

.danmu-setting-mode {
    display: flex;
    justify-content: center;
}

.danmu-setting-color {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
}

.danmu-setting-color li {
    margin: 3px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    box-shfadow: 0px 0px 2px white;
    border: rgba(0, 0, 0, 0.5) 1px solid;
}

.danmu-setting-mode li {
    padding: 5px;
    width: 50px;
    cursor: pointer;
}

.danmu-setting-mode li.active {
    color: rgb(0, 255, 255);
}

.danmu-setting-mode li:hover {
    color: rgb(155, 155, 155);
}

.danmu-setting-mode li div {
    text-align: center;
    margin-bottom: 3px;
}

.choose-dropdown div:hover {
    background-color: #3e3e3e;
    opacity: 0.7;
}

.choose-dropdown div {
    text-align: center;
    padding: 10px;
}

.play-tools-choose:hover .choose-dropdown {
    display: block;
}

#barrage {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: calc(100% - 2rem);
    cursor: pointer;
    overflow: hidden;
}

#static-barrage {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: calc(100% - 2rem);
    cursor: pointer;
    overflow: hidden;
}

.playImg {
    position: absolute;
    opacity: 0.7;
    width: 70px;
    height: 62px;
    bottom: 40px;
    left: 10px;
    z-index: 3;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.barrage-item {
    position: absolute;
    left: 100%;
    white-space: nowrap;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    height: 30px;
    line-height: 30px;
}

.barrage-Top {
    display: block;
    left: 50%;
    transform: translate(-50%, 0%);
}

.barrage-Bottom {
    display: block;
    left: 50%;
    transform: translate(-50%, 0%);
}

.barrage-tip {
    -webkit-text-stroke: 0px black;

}

.barrage-item-active {
    border: 1px #0059ff solid;
    border-radius: 3px;
}

.barrage-item .barrage-tip {
    display: none;
    position: absolute;
    left: 0;
    padding: 7px 25px;
    line-height: 12px;
    font-size: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 8px;
    -webkit-transform-origin: 15px 100%;
    -ms-transform-origin: 15px 100%;
    transform-origin: 15px 100%;
    webkit-animation: tipScale cubic-bezier(.22, .58, .12, .98) .4s;
    animation: tipScale cubic-bezier(.22, .58, .12, .98) .4s;
}

.barrage-item:hover {
    z-index: 2;
}

.barrage-item .barrage-tip:hover {
    background-color: white;
    color: black;
    z-index: 2;
}

.form-control:focus {
    border: 1px;
}

.videos-auther-name {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none
}

.follow-content {
    width: 16px;
    overflow: hidden;
    transition: all .5s ease;
    font-family: IcoMoon-Free;
}

.follow-holder:hover .follow-content {
    width: 75px;
}

.videos-accusation {
    opacity: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 20;
}

.videos-accusation.active {
    opacity: 1;
}

.videos-accusation-title {
    padding: 10px;
    color: #000000;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.videos-accusation-warning {
    padding: 10px;
    display: flex;
    border-top: 1px solid rgba(255, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 0, 0, 0.4);
    background-color: rgba(255, 0, 0, 0.1);
}

.videos-accusation-content {
    font-family: IcoMoon-Free;
    flex-basis: 500px;
    background-color: #f5fcff;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.videos-accusation-reason {
    padding: 20px;
}

.videos-accusation-btns {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.videos-note{
    padding: 0px 10px 10px 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    white-space: pre-wrap;
    overflow: hidden;
    height: 100%;
}
.change-note{
    padding: 10px;
}
.change-note-btns{
    display: flex;
    justify-content: right;
}
.change-note-btns li{
    margin:10px 0px 10px 10px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
.videos-note.hidden{
    height: 90px;
}
.video-note-detail{
    font-size: 12px;
    background-color: black;
    height: 100px;
}
.videos-tags-list {
    display: flex;
    list-style: none;
    cursor: pointer;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.tags-input{
    margin: 5px 0px;
    width: 380px!important;
}
.tags-input input{
    width: 100px;
}
.tags-input-btns{
    margin: 15px 0px 10px 0px;
}
.tags-input-btns span{
    padding: 5px 10px;
    margin: 5px 10px 5px 0px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
.cancel-tag{
    padding: 2px;
    border: 1px dashed black;
    margin-right: 5px;
    cursor: pointer;
}
.cancel-tag:hover{
    color: red;
    border: 1px solid #ff0000;
}
.tags-input-btns span:hover{
    background-color: black;
    color: white;
}
.videos-tags-each {
    border: 1px solid #a8a8a8;
    background-color: rgba(112, 112, 112, 0.1);
    padding: 3px 7px;
    border-radius: 10px;
    margin: 3px;
    font-size: 10px;
}
.videos-tags-each:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #e3e3e3;
}
.videos-collection-list{
    background-color: white;
    box-shadow: var(--shadow);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}
.videos-collection-list-container{
    margin: 0;
    max-height: 200px;
    overflow: auto;
}
.videos-collection-list-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    scrollbar-arrow-color: red;
}

.videos-collection-list-container::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
    scrollbar-arrow-color: red;
}

.videos-collection-list-container::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}
.videos-collection-list-container li{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    color: #757575;
    font-family: "微软雅黑 Light";
    padding: 8px 5px;
    cursor: pointer;
}
.videos-collection-list-container li span{
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.videos-collection-list-container li.active{
    color: #0da1f0;
}
.videos-collection-list-container li.active span:before{
    content: '\ea1c';
    font-family: IcoMoon-Free;
    font-style: normal;
}
.videos-collection-list-container li:hover{
    background-color: #a6a6a6;
    color: white;
}
.videos-collection-list-title{
    font-size: 15px;
    margin: 0px 0px 5px 0px;
    color: rgba(0, 0, 0, 0.5);
}
.video-discuss {
    padding: 15px 0px 5px 0px;
    display: flex;
    flex-direction: column;
}

.video-answer-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all .3s ease;
    height: 0px;
}

.video-answer-content.active {
    min-height: 110px;
    padding: 10px 5px;
}

.video-answer-content-container {
    display: flex;
    flex-direction: row
}

.video-discuss-content {
    display: flex;
}

.video-discuss-profile {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.video-answer-container {
    padding-left: 95px;
    width: 100%;
}

.video-answer-list-each {

}

.video-answer-list-each img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.video-answer-list-each-content {
    display: flex;
    margin: 5px 0px;
    position: relative;
}

.video-answer-list-each-word {
    white-space: normal;
    padding: 6px 0px 0px 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.video-answer-list-each-date {
    padding-left: 40px;
    font-size: 12px;
}

.video-answer-list-each-date span {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.3);
}

.video-discuss-profile img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
}

.video-answer-profile {
    margin-right: 10px;
}

.video-answer-profile img {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.video-discuss-input {
    flex-grow: 1;
}

.video-answer-input {
    flex-grow: 1;
}

.video-discuss-input-area {
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgba(62, 62, 62, 0.4) !important;
    border: none !important;
}

.video-discuss-input-area.active {
    background-color: rgb(255, 255, 255) !important;
    opacity: 1;
    color: black !important;
}

.video-discuss-btns {
    display: flex;
    justify-content: right;
}

.video-answer-content-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.video-answer-content-btns span {
    padding: 3px 5px;
    border: 1px solid black;
}

.video-discuss-input-line {
    font-size: 15px;
    width: 100%;
    color: rgba(42, 42, 42, 0.4);
}

.video-discuss-input-line hr {
    margin: 0px
}

.video-discuss-input-line.active hr {
    opacity: 0;
}

.video-answer-input-line {
    font-size: 15px;
    width: 100%;
    color: rgba(42, 42, 42, 0.4);
}

.video-answer-input-line hr {
    margin: 0px
}

.video-answer-input-line.active hr {
    opacity: 0;
}

.video-discuss-btns-content {
    display: flex;
    margin: 0;
}

.video-discuss-btns-content li {
    margin-top: 15px;
    margin-left: 10px;
    padding: 3px 8px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
}

.video-discuss-list {
    width: 100%;
}

.video-discuss-list-each hr {
    margin: 10px 0px;
}

.video-discuss-list-each {
    display: flex;
    margin: 25px 0px;
    flex-direction: column;
    transition: all .5s ease;
}

.video-discuss-list-each.dying {
    opacity: 0;
}

.video-discuss-list-each-div {
    display: flex;
    flex-direction: row;
    position: relative;
}

.video-discuss-list-each-content {
    min-height: 80px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}

.video-discuss-list-each-pic {
    display: flex;
    align-items: center;
    margin: 0px 10px 20px 10px;
}

.video-discuss-list-each-pic img {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.video-discuss-list-each-btns {
    height: 20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.video-discuss-list-each-btns hr {
    margin: 4px 0px;
    color: rgba(0, 0, 0, 0.2);
}

.video-discuss-list-each-btns span {
    margin-right: 10px;
    cursor: pointer;
}

.videos-discuss-login {
    margin: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    opacity: 0.7;
}

.videos-discuss-login img {
    width: 15%;
    opacity: 0.5;
}

.videos-discuss-login span {
    padding: 1px 3px;
    margin: 0px 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 15px;
}

.videos-discuss-login span:hover {
    background-color: black;
    color: #e3e3e3;
}

.video-no-discuss {
    width: 100%;
    padding: 10px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
}

.barrage-ban:before {
    position: absolute;
    content: "\ea0e";
    font-family: IcoMoon-Free;
    color: #ff0000;
    bottom: -8px;
    right: -3px;
    font-weight: 800;
}