{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lili-secretbase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires"  content="0">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/layer.js"></script>
    <link href="{% static 'css/wrapper.css' %}?version=1.0.0" rel="stylesheet">
    <link href="{% static 'css/sidebar.css' %}?version=1.0.0" rel="stylesheet">
    <link href="{% static 'css/defaultpage.css' %}?version=1.0.0" rel="stylesheet">
    <link href="{% static 'css/profile.css' %}?version=1.0.0" rel="stylesheet">
    <link href="{% static 'css/admin.css' %}?version=1.0.1" rel="stylesheet">
    <link href="{% static 'css/videoslist.css' %}?version=1.0.0" rel="stylesheet">
    <link href="{% static 'css/root.css' %}?version=1.0.0" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'IcoMoon-Free';
            src: url('{% static 'css/IcoMoon-Free.ttf' %}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        body {
            background-color: var(--Background-color);
            overflow-x: hidden;
            transition: all .5s ease;
        }
        #app {
            width: 100vw;
            height: 100vh;
            position: relative;
            padding-left: 50px;
            transition: padding-left .5s ease;
        }
        #app.active {
            padding-left: 240px;
        }
        .default {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .videos {
            right: 0;
            width: 100%;
            height: 100vh;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            overflow:auto;
        }
        .videos::-webkit-scrollbar{
            width: 5px;
            height: 5px;
            scrollbar-arrow-color: red;
        }
        .videos::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
            background: rgba(0,0,0,0.6);
            scrollbar-arrow-color:red;
        }
        .videos::-webkit-scrollbar-track {/*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.0);
            border-radius: 0;
            background: rgba(0,0,0,0.0);
        }
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 50px;
            background: #ffffff;
            transition: all 0.5s ease;
            z-index: 3;
            -moz-user-select:none;
            -webkit-user-select:none;
            user-select:none;
        }

        .admin {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-bottom: 35px;
        }

        .sidebar.active {
            width: 240px;
        }

        .logo.active {
            left: 110px;
            z-index: 4;
            position: fixed;
            opacity: 0.3;
            display: unset;
        }

        .sidebar.active .side {
            opacity: 1;
            pointer-events: auto;
        }

        .logo {
            position: fixed;
            width: 140px;
            top: 35px;
            left: 50%;
            z-index: 4;
            transform: translateX(calc(-50% + 6px));
            transition: all 0.5s ease;
            cursor: pointer;
            opacity: 0;
            display: none;
        }

        .logo:hover {
            opacity: 1;
        }

        footer {
            text-align: center;
            background-color: rgb(255, 255, 255);
            line-height: 30px;
            width: 100%;
            height: 30px;
            position: fixed;
            font-size: 12px;
            bottom: 0px;
            z-index: 2;
        }

        footer a {
            color: gray;
            text-decoration: none;
        }

        @media (max-width: 1070px) {
            .profile {
                overflow: hidden;
            }
        }
        .videoslist-title{
            position: relative;
            min-height: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("{% static 'images/videoBackground.jpg' %}") right bottom no-repeat;
            background-size: cover;
            transition: all .5s ease;
        }
        .videoslist-title.active
        {
            min-height: 100vh;
        }
    </style>
</head>
<body>
<img src="{% static 'images/logo.png' %}" alt="" class="logo">
    <div id="app" ref="app">
        <div v-show="flags.default" class="default">
            <section>
                <img src="{% static 'images/default/mountain.png' %}" id="mountain">
                <img src="{% static 'images/default/sun.png' %}" id="sun">
                <img src="{% static 'images/default/mountains.png' %}" id="mountains">
                <h2 id="defaulttitle" v-if="is_login" >
                    Welcome
                    <p style="text-align: center">{[ userdetail.name ]}</p>
                </h2>
                <span id="defaultlogin" @click="login"  v-else>Sign in</span>
            </section>
            <div class="defaultdesc" id="defaultdesc">
                <h2>丢臭你（占位）</h2>
                <p>丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你
                    丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你
                    丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你
                    丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你
                    丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你
                    丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你
                    丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你丢臭你
                </p>
            </div>
        </div>
        <div v-show="flags.videos" @scroll="listenScroll" class="videos">
            <div class="videos-holder">
                <div class="videoslist-title">
                    <div class="videoslist-search">
                        <img :src="this.logo" alt="" class="videoslist-search-logo">
                        <div>
                            <div class="videolist-input-group">
                                <i class="videolist-input-group-magnifier" @mousedown="search">
                                </i>
                                <input type="text" placeholder=" 请输入" class="videolist-input-group-input" @focus="changeVideoslistBack($event)" @blur="changeVideoslistBack" v-model="q" @keyup.enter="search">
                                <button class="videolist-input-group-btn" @mousedown="search">提交</button>
                            </div>
                        </div>
                    </div>
                    <span class="videoslist-upload" title="上传" @click="upload_video"></span>
                </div>
                <div>
                    <ul class="videoslist-choose">
                        <li @click="changeVideosListTag('new')"><a href="javascript:">最新</a></li>
                        <li @click="changeVideosListTag('popular')"><a href="javascript:">热门</a></li>
                        <li v-if="is_login" @click="changeVideosListTag('follow')"><a href="javascript:">关注</a></li>
                        <li v-if="is_login" @click="changeVideosListTag('collect')"><a href="javascript:">收藏</a></li>
                    </ul>
                </div>
                <ul class="videos-list videos-list-new" v-show="videosList_tags.new">
                    <li v-for="(item,i) in videosList_new" @click="getVideo(item.v_id)" class="videos-each" :key="item.v_id">
                        <div :style="{'background-image': 'url('+video_pic_url+item.v_pic+')','background-size':'cover'}" class="videos-each-background"></div>
                        <span class="videos-each-tips">
                            <i class="videos-each-play"></i>
                        </span>
                        <span class="videos-each-time" v-if="!item.is_collection">
                            <span>{[ Math.floor(item.v_duaring/60)<10?"0"+Math.floor(item.v_duaring/60):Math.floor(item.v_duaring/60) ]}:{[ item.v_duaring%60<10?"0"+item.v_duaring%60:item.v_duaring%60 ]}</span>
                        </span>
                        <span class="videos-each-collection" v-if="item.is_collection">
                            <i class="menus" style="font-weight: 500"></i>
                            {[ item.collection_count ]}
                        </span>
                        <span class="videos-each-type">
                            {[ item.v_type ]}
                        </span>
                        <span class="videos-each-title">
                            <h1>{[ item.v_title ]}</h1>
                            <p>作者 : {[ item.v_auther ]}</p>
                            <p style="right: 10px">播放 : {[ item.v_play ]}</p>
                        </span>
                    </li>
                </ul>
                <ul class="videos-list videos-list-popular" v-show="videosList_tags.popular">
                </ul>
                <ul v-if="is_login" class="videos-list videos-list-follow" v-show="videosList_tags.follow">
                </ul>
                <ul v-if="is_login" class="videos-list videos-list-collect" v-show="videosList_tags.collect">
                </ul>
                <div class="showmore-div">
                    <div v-if="!videosList_isLoading" style="color: rgba(0,0,0,0.5)">
                        下滑加载更多视频
                        <button class="btn btn-primary show_more_btn" v-show="show_more_btn" @click="getmorenewvideo"><i class="showmore-div-btn" ></i></button>
                    </div>
                    <div v-if="videosList_isLoading && !show_more_cat" ><p class="loading active"></p></div>
                    <div class="no-more" v-show="show_more_cat">
                        <img src="{% static 'images/猫猫叹气.png' %}" alt="">
                    </div>
                </div>
                <div class="videos-notice">
                    <div style="text-align: center;padding: 0px 10px;margin-bottom: 30px" >本站为个人兴趣，非商业用途，所有内容均收集于互联网公开资源，本站只提供WEB页面服务，不提供影片资源储存也不参与录制与上传，若本站收录内容无意侵犯了贵公司版权，请给网页底部邮箱地址来信，我会及时处理，谢谢合作。邮箱:2878305660@qq.com</div>
                </div>
                <div style="height: 30px"></div>
            </div>
        </div>
        <div v-if="this_user_admin" v-show="flags.admin" class="admin">
            <div class="admin-content">
                <div class="admin-server">
                    <div class="admin-server-res">
                        <div>
                            <div class="card">
                                <div style="display: flex;justify-content: space-between">
                                    <p style="font-weight: 700" @click="serverDetail">服务器使用 : <i
                                            class="admin-server-res-fresh"></i></p>
                                    <div class="form-check form-switch" title="是否开启自动更新">
                                        开启自动更新
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="flexSwitchCheckChecked" v-model="serverupdate">
                                        <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                    </div>
                                </div>
                                <hr/>
                                <ul class="admin-server-res-detail-li">
                                    <li>CPU : <span> {[ serverDetaillist.CPU ]}</span></li>
                                    <li>内存占用 : <span> {[ serverDetaillist.MEM ]}</span></li>
                                    <li>硬盘使用 : <span> {[ serverDetaillist.DISK ]}</span></li>
                                    <li>流量 : <span> {[ serverDetaillist.NET ]}</span></li>
                                    <li>IP : <span> {[ serverDetaillist.IP ]}</span></li>
                                    <li>服务器已运行时间 : <span> {[ serverDetaillist.TIME ]}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="admin-server-user">
                        <div>
                            <div class="card">
                                <p style="font-weight: 700" @click="userDetail">用户 : <i class="admin-server-res-fresh"></i>
                                </p>
                                <hr/>
                                <ul class="admin-user-detail-li">
                                    <li>用户总数 : <span> {[ userDetaillist.USER ]}</span></li>
                                    <li>当前在线人数 : <span> {[ userDetaillist.ONLINE ]}</span></li>
                                    <li>管理员数量 : <span> {[ userDetaillist.ADMIN ]}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div style="margin-top: 20px">
                            <div class="card">
                                <ul class="shutdownorreboot">
                                    <li class="reboot" title="重启" @click="reboot"><i></i></li>
                                    <li class="shutdown" title="关机" @click="shutdown"><i></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-info">
                    <div class="admin-terminal">
                        <div>
                            <div class="card">
                                    <ul class = "admin-terminal-list">
                                        <li class = "admin-terminal-input">
                                            <div><input type="text" placeholder="输入用户名，若空则使用默认" class="admin-terminal-user"></div>
                                            <div><input type="password" class="admin-terminal-password"></div>
                                            <div>命令:<input type="text" placeholder="带命令打开终端，若空则不带命令" class="admin-terminal-cmd" v-model="terminal_cmd">#tail -f /data/wwwroot/myproject/uwsgi/uwsgi.log</div>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-outline-primary" @click="terminal"><i class="admin-terminal-list-terminal"></i> 连接终端</button>

                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="admin-user-modify">
                        <div>
                            <div class="card admin-video">
                                <div class="input-group">
                                  <span class="input-group-text" id="basic-addon1">视频id</span>
                                  <input type="text" class="form-control" placeholder="视频id" aria-label="Username" aria-describedby="basic-addon1" v-model="search_video_data.input">
                                    <span class="video-search-btn" @click="search_video">搜索</span>
                                </div>
                                <div style="text-align: center;padding: 10px 0px;color: rgba(0,0,0,0.5)" v-show="search_video_data.is_null">什么也没找到~</div>
                                <table class="table table-striped table-hover" v-show="!search_video_data.is_null" style="margin-top: 5px">
                                    <thead>
                                        <tr>
                                            <th scope="col">视频id</th>
                                            <th scope="col">视频标题</th>
                                            <th scope="col">作者</th>
                                            <th scope="col">删除</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in search_video_data.result">
                                            <td><p>{[ item.v_id ]}</p></td>
                                            <td><p @click="jumpbyv_id(item.v_id)" style="color: #0c63e4;cursor: pointer">《{[ item.v_title ]}》</p></td>
                                            <td><p @click="toProfile(item.user_id)" style="cursor: pointer">{[ item.username ]}</p></td>
                                            <td><span style="background-color: red;color: white;padding: 5px 10px;cursor: pointer" @click="delVideo(item.v_id)">删除</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="admin-user-modify">
                        <div>
                            <div class="card admin-user-modify-card">
                                <div style="display: flex;justify-content: space-between">
                                    <p style="font-weight: 700" >修改用户信息 :
                                        <i class="admin-user-fresh" @click="getAllUsers"></i>
                                    </p>
                                    <p style="color: red;font-family: '微软雅黑 Light'">{[ Del_msg ]}
                                        <i class="admin-user-show UserModify" @click="hidden_user_modify"> </i>
                                    </p>
                                </div>
                                <hr/>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">id</th>
                                            <th scope="col">名字</th>
                                            <th scope="col">邮箱</th>
                                            <th scope="col">最后登录</th>
                                            <th scope="col">封禁</th>
                                            <th scope="col">管理员</th>
                                            <th scope="col">提交修改</th>
                                            <th scope="col">封禁</th>
                                            <th scope="col">删除用户</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in AllUsers">
                                            <td><p>{[ item.id ]}</p></td>
                                            <td><p>{[ item.username ]}</p></td>
                                            <td><p>{[ item.email ]}</p></td>
                                            <td><p>{[ item.last_login ]}</p></td>
                                            <td><p>{[ !item.is_active ]}</p></td>
                                            <td><p>{[ item.is_superuser ]}</p></td>
                                            <td><p class="admin-user-modify-submit" @click="damie"></p></td>
                                            <td><p class="admin-user-modify-ban" @click="damie"></p></td>
                                            <td><p class="admin-user-modify-kill" @click="Del_user(`${[ item.id ]}`)"></p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="admin-user-modify">
                        <div>
                            <div class="card admin-VideoAccusation-card">
                                <div style="display: flex;justify-content: space-between">
                                    <p style="font-weight: 700" >视频举报 :
                                        <i class="admin-user-fresh" @click="getAllVideoAccusation"></i>
                                    </p>
                                    <p style="color: red;font-family: '微软雅黑 Light'">
                                        <i class="admin-user-show VideoAccusation" @click="hidden_videoAccusation"> </i>
                                    </p>
                                </div>
                                <hr/>
                                 <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">举报单号</th>
                                        <th scope="col">视频</th>
                                        <th scope="col">举报人</th>
                                        <th scope="col">举报时间</th>
                                        <th scope="col">举报理由</th>
                                        <th scope="col">驳回</th>
                                        <th scope="col">删除视频</th>
                                    </tr>
                                    </thead>
                                    <tbody style="font-family: IcoMoon-Free">
                                    <tr v-for="(item,index) in AllVideoAccusation">
                                        <td><p>{[ item.a_id ]}</p></td>
                                        <td><p @click="jumpbyv_id(item.v_id)" style="color: dodgerblue;cursor: pointer">《{[ item.v_title ]}》</p></td>
                                        <td><p>{[ item.u_name ]}</p></td>
                                        <td><p>{[ item.a_time ]}</p></td>
                                        <td style="max-width: 520px"><p>{[ item.a_reason ]}</p></td>
                                        <td><p @click="rejectVideoAcc(item.a_id)" style="cursor: pointer">reply</p></td>
                                        <td><p class="admin-user-modify-ban" @click="damie"></p></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <i></i>
                    <div class="logo_name"></div>
                </div>
                <i id="navbtn" @click="showsidebar"></i>
            </div>
            <ul class="searchnav" style="padding: 0px!important">
                <li>
                    <input type="search" placeholder="请输入" v-model="q" @keyup.enter="search">
                    <i class="searchbtn" @click="search"></i>
                </li>
            </ul>
            <ul class="nav_list" style="padding: 0px!important">
                <li id="default" @click="changePage('default')">
                    <i class="homebtn"></i>
                    <p>Home</p>
                </li>
                <li id="videos" @click="changePage('videos')">
                    <i class="videosbtn"></i>
                    <p>视频</p>
                </li>
                    {% if request.user.is_superuser == True %}
                        <li id="admin" @click="changePage('admin')">
                            <i class="adminbtn"></i>
                            <p>管理</p>
                        </li>
                    {% endif %}
            </ul>
            <div class="login">
                {% if request.user.is_authenticated %}
                    <img :src="this.avatar_url+userdetail.picture" alt="" style="border: 4px solid #d3d3d3" @click="toProfile(userdetail.id)">
                    <span class="logout" @click="logout"><i></i></span>
                    <p class="loginbtn active" @click="toProfile(userdetail.id)">
                        {[ userdetail.name ]}
                    </p>
                {% else %}
                    <img src="{% static 'images/default.png' %}" alt="" style="border: 4px solid #d3d3d3">
                    <p class="loginbtn" @click="login">
                        Login
                    </p>
                {% endif %}
            </div>
            <i class="toolbtn"></i>
            <a href="#" target=""></a>
        </div>
    </div>

{% include 'wrapper.html' %}
<footer><a href="https://beian.miit.gov.cn/#/Integrated/index">备案号:粤ICP备2021133316号</a></footer>
</body>
<script>
    const vm = new Vue({
        el: "#app",
        delimiters: ['{[', ']}'],
        data: {
            show_more_cat:false,
            show_more_btn:true,
            videosList:[],
            videosPage:{
                now:"",
                page:"",
                total:"",
                begin: 0,
                end: 8,
            },
            videosList_isLoading:false,
            videosList_new:{{ newvideolist|safe }},
            videosList_hot:{{ hotvideolist|safe }},
            videosList_collect:{{ collectvideolist|safe }},
            videosList_tags:{
                "new":true,
                "popular": false,
                "follow": false,
                "collect": false,
            },
            screen_choose: "auto",
            this_user_admin: false,
            is_login: false,
            userdetail:{
                name: "{{ request.user.username }}",
                id: "{{ request.user.id }}",
                email: "{{ request.user.email }}",
                is_active: "{{ request.user.is_active }}",
                date_joined: "{{ request.user.date_joined }}",
                gender: "{{ request.user.gender }}",
                picture: "{{ request.user.picture }}",
                fans: "{{ request.user.fans }}",
                v_count:"{{ request.user.fans }}",
            },
            flags: {
                default: true,
                videos: false,
                admin: false,
            },
            serverDetaillist: {
                CPU: "none",
                MEM: "none",
                DISK: "none",
                TIME: "none",
                NET: "none",
                IP: "none"
            },
            userDetaillist: {
                USER: "none",
                ADMIN: "none",
                ONLINE: "none"
            },
            search_video_data:{
                input:"",
                result:"",
                is_null:false,
            },
            AllUsers: null,
            AllVideoAccusation: null,
            serverupdate: false,
            Interval: "",
            videos_holder_clientHeight:null,
            videos_new_scrollHeight:null,
            Del_msg:null,
            terminal_user: "administrator",
            terminal_password: window.btoa("123456"),
            terminal_cmd:"",

            q:"",
            video_url:"{% url "index" %}"+"video/",
            base_url:"{% url 'index' %}"+"search?q=",
            profile_url:"{% url 'profile' %}"+"?user=",
            avatar_url: "{% static 'images/avatar/' %}",
            logo:"{% static 'images/logo.png' %}",
            video_pic_url:"{% static 'videos/videopic/' %}",
        },
        methods: {
            login:function() {
                window.location.href = "{% url 'login' %}"
            },
            logout: async function () {
                result = await axios({
                    method: "GET",
                    url: "{% url 'logout' %}",
                })
                if(result.data == "done"){
                    location.reload()
                }
            },
            is_login_check() {
                if ("{{ request.user.is_authenticated }}" == "True") {
                    this.is_login = true
                    if("{{ request.user.is_superuser }}" == "True"){
                        this.this_user_admin = true
                    }
                } else {
                    this.is_login = false
                }
            },
            search:function (){
                window.open(this.base_url+this.q)
                this.q=""
            },
            search_video:async function (){
                if(this.search_video_data.input==""){
                    return
                }
                let param = new URLSearchParams()
                param.append('v_id', this.search_video_data.input)
                result =  await axios({
                    method: 'POST',
                    url: '{% url 'search_video' %}',
                    data: param
                });
                this.search_video_data.input = ""
                this.search_video_data.result = [result.data.result]
                if(this.search_video_data.result[0].length == 0){
                    this.search_video_data.is_null = true
                }
                else{
                    this.search_video_data.is_null = false
                }
            },
            toProfile:function (id='me'){
                window.open(this.profile_url+id)
            },
            jumpbyv_id:function (v_id){
                window.open(this.video_url+v_id)
            },
            showsidebar: function (){
                document.querySelector("#app").classList.toggle("active")
                document.querySelector(".sidebar").classList.toggle("active")
                document.querySelector(".logo").classList.toggle("active")
                document.querySelector(".nav_list").classList.toggle("active")
                document.querySelector(".toolbtn").classList.toggle("active")
                document.querySelector(".searchnav").classList.toggle("active")
                document.querySelector("#sun").classList.toggle("active")
                if (document.querySelector(".logout")) {
                    document.querySelector(".logout").classList.toggle("active")
                }
            },
            changePage:function (Page){
                for(let key in vm.flags){
                    this.flags[key] = false
                }
                vm.flags[Page] = true
            },
            changeVideoslistBack:function (e){
                document.querySelector(".videoslist-title").classList.toggle('active')
                document.querySelector(".videoslist-search-logo").classList.toggle('active')
                document.querySelector(".videolist-input-group-input").classList.toggle('active')
                if(e.currentTarget == document.activeElement){
                    document.οnkeydοwn=function(event){
                        e = event ? event :(window.event ? window.event : null);
                        if(e.keyCode==13){
                                //执行的方法
                                alert('全局检测到了回车');
                        }
                    }
                }
            },
            handleScroll:function (){
                console.log(123)
            },
            hidden_user_modify(){
                document.querySelector(".UserModify").classList.toggle("active")
                document.querySelector(".admin-user-modify-card").classList.toggle("active")
            },
            hidden_videoAccusation(){
                document.querySelector(".VideoAccusation").classList.toggle("active")
                document.querySelector(".admin-VideoAccusation-card").classList.toggle("active")
            },
            Del_user:async function(id) {
                if(id == this.userdetail.id){
                    this.Del_msg = "删自己？大可不必"
                }
                else{
                    let param = new URLSearchParams()
                    param.append('id', id)
                    result =  await axios({
                        method: 'POST',
                        url: '{% url 'Del_user' %}',
                        data: param
                    });
                    if (result.data.code== "1"){
                        this.getAllUsers()
                        this.userDetail()
                        this.Del_msg = result.data.msg
                        alert("删除成功")
                    }
                    else if (result.data.code== "0"){
                        this.Del_msg = result.data.msg
                    }
                    else{
                        this.Del_msg = "???????????????"
                    }

                }
            },
            changeScreen:function(e){
                this.screen_choose = e.target.innerHTML
            },
            serverDetail: async function () {
                result = await axios({
                    method: 'GET',
                    url: '{% url 'serverDetail' %}',
                });
                if (result.data) {
                    this.serverDetaillist.CPU = result.data.CPU
                    this.serverDetaillist.MEM = result.data.MEM
                    this.serverDetaillist.DISK = result.data.DISK
                    this.serverDetaillist.TIME = result.data.TIME
                    this.serverDetaillist.NET = result.data.NET
                    this.serverDetaillist.IP = result.data.IP
                }
            },
            userDetail: async function () {
                result = await axios({
                    method: 'GET',
                    url: '{% url 'userDetail' %}',
                });
                this.userDetaillist.USER = result.data.USER
                this.userDetaillist.ONLINE = result.data.ONLINE
                this.userDetaillist.ADMIN = result.data.ADMIN
            },
            getAllUsers: async function () {
                result = await axios({
                    method: 'GET',
                    url: '{% url 'getAllUsers' %}',
                });
                this.AllUsers = result.data
                this.Del_msg = null
            },
            getAllVideoAccusation: async function () {
                result = await axios({
                    method: 'GET',
                    url: '{% url 'getAllVideoAccusation' %}',
                });
                this.AllVideoAccusation = result.data
            },
            damie: function () {
                alert("达咩")
            },
            reboot: function () {
                let value = 1
                this.finallytime(value)
            },
            shutdown: function () {
                let value = 0
                this.finallytime(value)
            },
            upload_video:function (){
                if(!this.is_login){
                    alert("登录")
                    return
                }
                if(!this.this_user_admin){
                    alert("仅限管理员可上传视频")
                    return
                }
                layer.open({
                    type: 2,
                    title: '上传视频',
                    closeBtn: 1,
                    area: ['700px', '800px'],
                    shadeClose: true,
                    shade: false,
                    content: "{% url 'upload_page' %}",
                    end:function(){
                            var handle_status = $("#handle_status").val();
                            if ( handle_status == '1' ) {
                                layer.msg('连接成功！',{
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                },function(){
                                    history.go(0);
                                });
                            } else if ( handle_status == '2' ) {
                                layer.msg('连接失败！',{
                                    icon: 2,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                },function(){
                                    history.go(0);
                                });
                            }
                        }
                  });

            },
            terminal:function(){
                console.log("terminal ready")
                layer.open({
                    type: 2,
                    title: '建立webssh连接',
                    closeBtn: 1,
                    area: ['700px', '550px'],
                    shadeClose: false,
                    shade: false,
                    content: this.terminal_cmd==""?'http://159.75.34.200:8888/?hostname=127.0.0.1&username='+ this.terminal_user+'&password='+ this.terminal_password+'':'http://159.75.34.200:8888/?hostname=127.0.0.1&username='+ this.terminal_user+'&password='+ this.terminal_password+'&command='+this.terminal_cmd+'',
                    end:function(){
                            var handle_status = $("#handle_status").val();
                            if ( handle_status == '1' ) {
                                layer.msg('连接成功！',{
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                },function(){
                                    history.go(0);
                                });
                            } else if ( handle_status == '2' ) {
                                layer.msg('连接失败！',{
                                    icon: 2,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                },function(){
                                    history.go(0);
                                });
                            }
                        }
                  });
            },
            getVideo:function (v_id){
                window.open(this.video_url+v_id)
            },
            delVideo:async function (v_id){
                let param = new URLSearchParams()
                    param.append("v_id", v_id)
                    result = await axios({
                        method: "POST",
                        url: "{% url 'delVideo' %}",
                        data: param
                    })
                this.search_video_data.is_null = true
                this.search_video_data.result = []
            },
            finallytime: function (value) {
                let sure = prompt("请输入我很他妈确定")
                let param = new URLSearchParams()
                param.append('value', value)
                if (sure == "我很他妈确定") {
                    axios({
                        method: 'POST',
                        url: '{% url 'rebootorshutdown' %}',
                        data: param
                    });
                } else {
                    return
                }
            },
            changeVideosListTag: function (tag){
                for(let key in this.videosList_tags){
                    this.videosList_tags[key] = false
                }
                this.videosList_tags[tag]=true
            },
            getmorenewvideo: async function (){
                this.videosList_isLoading = true
                let param = new URLSearchParams()
                param.append("count",this.videosList_new.length)
                result = await axios({
                    method:"POST",
                    url:"{% url 'getmorenewvideo' %}",
                    data: param
                })
                if(result.data.length == 0){
                    this.show_more_btn = false
                    this.show_more_cat = true
                    console.log("到头了")
                    return
                }
                else{
                    for(let item of result.data){
                        this.videosList_new.push(item)
                    }
                }
                this.videosList_isLoading = false
            },
            rejectVideoAcc:async function(a_id){
                let param = new URLSearchParams()
                param.append("a_id",a_id)
                result = await axios({
                    method:"POST",
                    url:"{% url 'rejectVideoAccusation' %}",
                    data: param
                })
                this.getAllVideoAccusation()
            },
            changeProfileContent:function (tag,e){
                for(let item of document.querySelector(".profile-content-btns").querySelectorAll("li")){
                    item.classList = ""
                }
                e.target.classList = "active"
                for (let key of Object.keys(this.profile_content)) {
                    this.profile_content[key] = false
                }
                this.profile_content[tag] = true

            },
            listenScroll:function(){
                if(document.querySelector('.videos').scrollTop + document.querySelector('.videos').offsetHeight > document.querySelector('.videos').scrollHeight - 40 &&  this.videosList_isLoading!=true){
                    this.videosList_isLoading=true
                    this.getmorenewvideo()
                }
            },
        },
        mounted: function () {
            this.getmorenewvideo()
            this.is_login_check()
            if (this.this_user_admin) {
                this.getAllVideoAccusation()
                this.userDetail()
                this.getAllUsers()
                this.serverDetail()
            }
        },
        watch: {
            serverupdate: function () {
                if (this.serverupdate == false) {
                    clearInterval(this.Interval);
                }
                if (this.serverupdate == true) {
                    this.Interval = setInterval(this.serverDetail, 2000);
                }
            },
            AllUsers: function () {
                console.log(this.AllUsers.data)
            },
            flags:{
                handler(val, oldval){
                    if(val.videos==true){
                        that = this
                        setTimeout(function (){
                            that.videos_holder_clientHeight = document.querySelector('.videos-holder').clientHeight
                            that.videos_new_scrollHeight = document.querySelector('.videos-list-new').scrollHeight
                            console.log(that.videos_holder_clientHeight,that.videos_new_scrollHeight)
                        },200)
                    }
                },
                immediate: true,
                deep:true
            },
            videos_new_scrollHeight: function (){
                if(this.videos_new_scrollHeight + 340 < this.videos_holder_clientHeight){
                    if(this.show_more_cat == true){
                        return
                    }
                    this.videosList_isLoading=true
                    this.getmorenewvideo()
                    that = this
                    setTimeout(function (){
                            that.videos_new_scrollHeight = document.querySelector('.videos-list-new').scrollHeight
                        },200)
                }
            },
        }
    })
    
    let defaultmountains = document.querySelector("#mountains")
    let defaultmountain = document.querySelector("#mountain")
    let defaultlogin = document.querySelector("#defaultlogin")
    let defaultsun = document.querySelector("#sun")
    let defaulttitle = document.querySelector("#defaulttitle")
    window.addEventListener('scroll', function () {
        var value = window.scrollY;
        defaultmountain.style.top = value * 0.5 + "px"
        defaultmountains.style.top = value * 0 + 'px'
        if (defaultlogin) {
            defaultlogin.style.marginTop = value * 1.2 + 'px'
        }
    })
</script>
</html>