{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires"  content="0">
<link href="{% static 'css/profile.css' %}?version=1.0.8" rel="stylesheet">
<link href="{% static 'css/topbar.css' %}?version=1.0.4" rel="stylesheet">
<link href="{% static 'css/root.css' %}?version=1.0.3" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'images/profile.png' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://lib.baomitu.com/cropperjs/2.0.0-alpha/cropper.min.css" rel="stylesheet">
<script src="https://lib.baomitu.com/cropperjs/2.0.0-alpha/cropper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: var(--Background-color);
            overflow-x: hidden;
            transition: all .5s ease;
        }

        @font-face {
            font-family: 'IcoMoon-Free';
            src: url('{% static 'css/IcoMoon-Free.ttf' %}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        #app {
            width: 100vw;
            height: 100vh;
            position: relative;
            transition: padding-left .5s ease;
        }

        .profile {
            display: flex;
            justify-content: center;
            align-content: center;
            min-width: 625px;
        }

    </style>
</head>
<body>
{% include 'topbar.html' %}
<div id="app" v-cloak>
    <title>{[profile_detail.username]} 的主页</title>
    <div class="profile">
        <div class="profilecontent">
            <div class="profile-detail">
                <div class="profile-background" :style="{'background-image': 'url('+background_base_url+profile_detail.background+')','background-size':'cover'}">
                    <span v-if="is_me" class="profile-background-change picture" @click="upload_background"></span>
                    <div style="display: none">
                        <input type="file" id="change_background" accept="image" @change="change">
                        <label for="change"></label>
                    </div>
                </div>
                <div>
                    <span>
                        <img :src="this.avatar_url+profile_detail.picture" alt="" class="profile-img" @click="change_avatar">
                    </span>
                </div>
                <ul class="profile-info">
                    <li>
                        <div class="profile-info-name">
                            <span v-show="profile_detail.gender == 'male'" class="male" v-if="is_me || profile_detail.setting.show_gender"></span>
                            <span v-show="profile_detail.gender == 'female'" class="female" v-if="is_me || profile_detail.setting.show_gender"></span>
                            {[ profile_detail.username ]}
                            <span v-if="profile_detail.is_superuser == 'True'">
                                (管理员)
                            </span>
                        </div>
                    </li>
                    <li style="display: flex">
                        <div>
                            获赞:0
                        </div>
                        <div>
                            视频: {[ videosList_mine_count ]}个
                        </div>
                    </li>
                </ul>
                <div class="profile-info-desc" v-show="profile_detail.desc && (is_me || this.profile_detail.setting.show_desc)">
                    {[profile_detail.desc]}
                </div>
                <ul class="profile-info-other">
                    <li style="color: rgba(0,0,0,0.5);font-family: 'Segoe UI';font-size: 13px;font-weight: 500">
                        <div v-if="is_me || this.profile_detail.setting.show_profile">
                            <div style="margin:15px 0px 5px 0px">
                            <span><span style="font-weight: 700">{[ profile_detail.fans ]}</span> 关注者</span>
                            <span style="margin-left: 20px"><span
                                    style="font-weight: 700">{[ profile_detail.follow ]}</span> 正在关注</span>
                        </div>
                            <div style="margin-bottom: 10px">
                                <span class="clock"> 加入于 {[ profile_detail.join.year ]}年{[ profile_detail.join.month ]}月{[ profile_detail.join.day ]}日 </span>
                                <span class="auther" style="margin-left: 20px"> id号为 <span style="font-weight: 700">{[ profile_detail.id ]}</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="profile-info-other-btns" v-if="!is_me">
                        <span class="follow-text" @click="follow">+关注</span>
                        <span v-if="this.profile_detail.setting.show_chat" @click="toChat">
                            发消息
                            <form action="http://8.134.211.226/websocket/chat" method="post" target="_blank" id="chat_form" style="display: none">
                                <input type="text" name="uuid" v-model="userdetail.id"/>
                                <input type="text" name="pwd" v-model=profile_detail.password"/>
                                <input type="text" name="user" v-model="userdetail.name"/>
                                <input type="text" name="session_key" v-model="profile_detail.session_key"/>
                                <input type="text" name="r_id" v-model="profile_detail.id"/>
                              <input type="submit" value="Submit" />
                            </form>
                        </span>
                        <span style="background-color: rgba(0,0,0,0.15);color: rgba(0,0,0,0.5)" v-if="!this.profile_detail.setting.show_chat">禁止私聊</span>
                    </li>
                </ul>
                <div class="profile-content">
                    <div v-if="profile_content.myvideos" style="width: 100%">
                        <div class="profile-content-myvideos-btn">
                            <h2 class="profile-content-mode">
                                <a>最新发布</a>
                                <a v-if="is_me">收藏</a>
                            </h2>
                            <div><span @click="active_delbtn" v-if="is_me">trashcan</span></div>
                        </div>
                        <div>
                            <div class="nothing" v-if="videosList_mine_count==0">
                                <div>
                                    <img src="{% static 'images/nothing.png' %}" alt="">
                                    <div style="text-align: center;margin-top: 10px;font-weight: 600">什么也没有找到~</div>
                                </div>
                            </div>
                            <ul class="profile-content-myvideos" v-if="videosList_mine_count!=0">
                                <li v-for="(item,i) in videosList_mine.slice(videosPage.begin,videosPage.end)"
                                    class="videos-each" :id="'myvideo_'+item.v_id" :key="item.v_id">
                                    <div :style="{'background-image': 'url('+video_pic_url+item.v_pic+')','background-size':'cover'}"
                                         class="videos-each-background" @click="getVideo(item.v_id)"></div>
                                    <span class="videos-each-tips" @click="getVideo(item.v_id)">
                                            <i class="videos-each-play"></i>
                                        </span>
                                    <span class="videos-each-collection" v-if="item.is_collection=='True'" style="font-weight: 600;font-size: 1rem">视频合集</span>
                                    <span class="videos-each-status" @click="getVideo(item.v_id)">
                                        <p><i class="good active" style="color: deeppink"></i><span> {[ item.v_like ]}</span></p>
                                        <p><i class="collect active" style="color: #ffc900"></i><span> {[ item.v_collect ]}</span></p>
                                        <p v-if="item.is_collection=='True'"><i class="menus" style="color: #00b2ff"></i><span> {[ item.collection_count ]}</span></p>
                                    </span>
                                    <span class="videos-each-title" @click="getVideo(item.v_id)">
                                            <h1>{[ item.v_title ]}</h1>
                                            <p style="right: 10px">播放 : {[ item.v_play ]}</p>
                                        </span>
                                    </span>
                                    <span class="videos-each-del" @click="delVideo($event,item.v_id)">
                                            <p class="videos-each-del-content">cancel</p>
                                        </span>
                                </li>
                            </ul>
                            <div style="display: flex;justify-content: center;margin-top: 30px" v-if="videosList_mine_count!=0">
                                <ul class="paging">
                                    <li @click="prePage">上一页</li>
                                    <li v-if="videosPage.now>3" @click="changePage(1)">1</li>
                                    <li v-if="videosPage.now>4">...</li>
                                    <li v-for="index of videosPage.now" :key="index"
                                        v-if="index>videosPage.now-3 && index!=videosPage.now"
                                        @click="changePage(index)">
                                        {[ index ]}
                                    </li>
                                    <li class="active">{[ videosPage.now ]}</li>
                                    <li v-for="index of videosPage.total" :key="index"
                                        v-if="index>videosPage.now && index<videosPage.now+3"
                                        @click="changePage(index)">
                                        {[ index ]}
                                    </li>
                                    <li v-if="videosPage.now<videosPage.total-3">...</li>
                                    <li v-if="videosPage.now<videosPage.total-2" @click="changePage(videosPage.total)">
                                        {[videosPage.total]}
                                    </li>
                                    <li @click="nextPage">下一页</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div v-if="profile_content.mycollection" style="width: 100%">
                        <ul class="profile-content-mycollection"></ul>
                    </div>
                </div>
            </div>
            <div class="profile-other" v-if="is_me && show_other">
                <div class="profile-message" v-if="profile_detail.setting.show_message">
                    <ul style="display: flex;list-style: none;justify-content: space-between;margin: 0;padding-left: 0">
                        <li>消息 <span style="font-family: IcoMoon-Free;cursor: pointer" @click="refreshmsg"> loop2</span>
                        </li>
                        <li><span style="font-family: IcoMoon-Free;cursor: pointer" @click="clearmsg">trashcan2</span>
                        </li>
                    </ul>
                    <hr/>
                    <div class="profile-message-container">
                        <ul class="profile-message-content">
                            <li v-for="(item,i) in messages.msg" :key="item.m_id">
                                <p>{[ item ]}</p>
                                <hr/>
                            </li>
                            <li style="width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;opacity: .5" v-if="messages.msgcount==0">
                                <img src="{% static 'images/no_msg.png' %}" alt="">
                                <div>没有新消息~</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="profile-tools" v-if="profile_detail.setting.show_tools">
                    <li title="消息" class="profile-chat"><i></i></li>
                    <li title="上传视频" class="profile-upload"><i></i></li>
                    <li title="云盘" class="profile-cloud" @click="tocloud"><i></i></li>
                    <li title="更改个人信息" class="profile-set" @click="toSetting"><i></i></li>
                    <li title="注销" class="profile-logout" @click="logout"><i></i></li>
                </ul>
                <div class="profile-follow" v-if="profile_detail.setting.show_fans">
                    <ul class="profile-follow-btns">
                        <li class="profile-follow-btns-each active" @click="changeFollow($event,'fans')">我的粉丝</li>
                        <li class="profile-follow-btns-each" @click="changeFollow($event,'follow')">我的关注</li>
                    </ul>
                    <hr/>
                    <div v-show="follow_mode.fans" class="profile-message-follow">
                        <div v-for="(item,index) in AllFans" :key="item.id" class="each-fans">
                            <div>
                                <img :src="avatar_url+item.avatar" alt="" style="margin-right: 10px" @click="toProfile(item.id)">
                                <span @click="toProfile(item.id)">{[item.username]}</span>
                            </div>
                            <div>
                                <span class="each-follow-btn" @click="follow_fans(AllFans.indexOf(item))" v-if="!item.mutual">+ 关注</span>
                                <span class="each-follow-btn true" @click="follow_fans(AllFans.indexOf(item))" v-if="item.mutual">已互关</span>
                            </div>
                        </div>
                        <div v-if="!any_fans" style="display: flex;align-items: center;flex-direction: column;opacity: .5">
                            <img src="{% static 'images/no_fans.png' %}" alt="" style="width: 250px;margin: 20px">
                        </div>
                    </div>
                    <div v-show="follow_mode.follow" class="profile-message-following">
                        <div v-for="(item,index) in AllFollow" :key="item.id" class="each-fans">
                            <div>
                                <img :src="avatar_url+item.avatar" alt="" style="margin-right: 10px" @click="toProfile(item.id)">
                                <span @click="toProfile(item.id)">{[item.username]}</span>
                            </div>
                            <div>
                                <span class="each-follow-btn">取消关注</span>
                            </div>
                        </div>
                        <div v-if="!any_follow" style="display: flex;align-items: center;flex-direction: column;opacity: .5">
                            <img src="{% static 'images/no_fans.png' %}" alt="" style="width: 250px;margin: 20px">
                        </div>
                    </div>
                </div>
                <div class="profile-hot fire" v-if="profile_detail.setting.show_hot">
                    热门
                    <hr/>
                    <ul class="hotvideos-list">
                        <li v-for="(item,index) in hotestVideos" :key="item.v_id" class="hotvideo">
                            <span style="display: flex">
                                <i>{[index + 1]}</i>
                                <p style="cursor: pointer" @click="getVideo(item.v_id)"> 《{[item.v_title]}》</p>
                            </span>
                            <span>
                                {[item.time.year]}-{[item.time.month]}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cropper-background" v-show="showCropper">
            <ul class="cropper-background-container">
                <li style="display: flex;justify-content: space-between;font-family: IcoMoon-Free;">
                    <span>裁剪</span>
                    <span style="cursor: pointer" @click="close_Cropper">close</span>
                </li>
                <li class="cropper-area" >
                    <img id="image" :src="background_url" alt="Picture">
                </li>
                <li class="cropper-background-btns">
                    <div style="font-size: 15px;opacity: .6">
                        注意:图片大小不可超过5M!
                    </div>
                    <div>
                        <span @click="crop">确定</span>
                        <span @click="upload_background">重新选择</span>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="is_me" v-show="showDelMenu" class="del-warning">
            <div class="del-warning-content">
                <div class="del-warning-title">
                    <span style="font-size: 15px">删除视频</span>
                    <span @click="closeDelmenu" style="cursor: pointer">close</span>
                </div>
                <div class="del-warning-warn">
                    <span style="color: red;font-size: 20px;margin: 0px 20px">warning</span>
                    <span style="color: white;display: flex;align-items: center;font-size: 15px">删除的视频与弹幕不可恢复</span>
                </div>
                <div class="del-warning-detail">
                    List:
                    <ul class="del-warning-list">
                        <li v-for="(item,index) in delList" style="display: flex;flex-direction: column">
                            <a @click="jumpbyv_id(item.v_id)">《 {[item.v_title]} 》</a>
                            <span v-for="(appendage,index) in item.collection_list" v-if="item.is_collection">&nbsp;&nbsp;-《 {[appendage]} 》</span>
                        </li>
                    </ul>
                </div>
                <div class="del-warning-final">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入'y'/'Y'进行确认"
                               aria-label="Recipient's username" aria-describedby="button-addon2" v-model="Del_sure">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="delVideoSure">确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const vm = new Vue({
        el: "#app",
        delimiters: ['{[', ']}'],
        data: {
            AllFans:[],
            AllFollow:[],
            background:"",
            cropper:'',
            panel: false,
            background_url:'',
            background_file:'',
            userdetail: topbar.userdetail,
            followornot: {{ followornot }},
            profile_detail:{{ profile_detail | safe }},
            showDelMenu: false,
            showCropper:false,
            videosList_collect:{{ collectvideolist|safe }},
            videosList_mine: [],
            videosList_mine_count: 0,
            delList: [],
            messages: [],
            is_me: false,
            show_other:true,
            any_fans: false,
            any_follow:false,
            Del_sure: "",
            videosPage: {
                now: 1,
                page: "",
                total: "",
                begin: 0,
                end: 12,
                each: 12,
            },
            follow_mode:{
                follow:false,
                fans:true,
            },
            hotestVideos:[],
            this_user_admin: false,
            is_login: topbar.is_login,
            profile_content: {
                "myvideos": true,
                "mycollection": false
            },
            q: "",
            video_url: "{% url "index" %}" + "video/",
            base_url: "{% url 'index' %}" + "search?q=",
            avatar_url: "{% static 'images/avatar/' %}",
            logo: "{% static 'images/logo.png' %}",
            video_pic_url: "{% static 'videos/videopic/' %}",
            background_base_url: "{% static 'images/background' %}"+"/",
        },
        methods: {
            change_avatar:function (){
                if(this.is_me){
                    window.open('/setting/setting_avatar/')
                }
            },
            changeFollow:function (e,mode){
                for(let item of document.querySelectorAll('.profile-follow-btns-each')){
                    item.classList.remove('active')
                }
                for(let key in this.follow_mode){
                    this.follow_mode[key] = false
                }
                this.follow_mode[mode] = true
                e.currentTarget.classList.add('active')
            },
            toProfile:function (id){
                topbar.toProfile(id)
            },
            upload_background: function () {
                document.querySelector('#change_background').value = ''
                document.querySelector('#change_background').click()
            },
            close_Cropper: function (){
                this.showCropper = false
            },
            change(e) {
                let files = e.target.files || e.dataTransfer.files
                if (!files.length) return;
                this.background = files[0];
                this.background_url = this.getObjectURL(this.background)
                if (this.cropper) {
                    this.cropper.replace(this.background_url)
                }
                this.panel = true
                this.showCropper = true
            },
            getObjectURL(file) {
                var url = null;
                if (window.createObjectURL != undefined) { // basic
                    url = window.createObjectURL(file);
                } else if (window.URL != undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file);
                } else if (window.webkitURL != undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file);
                }
                return url;
            },
            crop() {
                this.panel = false;
                var croppedCanvas;
                var roundedCanvas;
                if (!this.croppable) {
                    return;
                }
                // Crop
                croppedCanvas = this.cropper.getCroppedCanvas();
                console.log(this.cropper)
                // Round
                roundedCanvas = this.getRoundedCanvas(croppedCanvas);
                this.background_file = croppedCanvas.toDataURL();

                this.postImg()
            },
            getRoundedCanvas(sourceCanvas) {
                var canvas = document.createElement('canvas');
                var context = canvas.getContext('2d');
                var width = sourceCanvas.width;
                var height = sourceCanvas.height;
                canvas.width = width;
                canvas.height = height;
                context.imageSmoothingEnabled = true;
                context.drawImage(sourceCanvas, 0, 0, width, height);
                context.globalCompositeOperation = 'destination-in';
                context.beginPath();
                context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
                context.fill();
                return canvas;
            },
            async postImg() {
                let param = new FormData()
                param.append('background', this.background_file)
                param.append('user_id', this.userdetail.id)
                result = await axios({
                    method: "POST",
                    url: "{% url 'save_background' %}",
                    data: param,
                })
                if (result.data.code == 1) {
                    window.location.reload()
                }
            },
            changePage: function (page) {
                this.videosPage.now = page
                this.videosPage.begin = page * this.videosPage.each - this.videosPage.each
                this.videosPage.end = page * this.videosPage.each
            },
            toSetting:function (){
                topbar.toSetting()
            },
            nextPage: function (){
                if(this.videosPage.now == this.videosPage.total){
                    return
                }
                this.videosPage.begin = this.videosPage.begin + this.videosPage.each
                this.videosPage.end = this.videosPage.begin + this.videosPage.each
                this.videosPage.now += 1
            },
            prePage: function (){
                if(this.videosPage.now==1){
                    return
                }
                this.videosPage.begin = this.videosPage.begin - this.videosPage.each
                this.videosPage.end = this.videosPage.begin + this.videosPage.each
                this.videosPage.now -= 1
            },
            follow: async function () {
                if (!this.is_login) {
                    this.login()
                }
                let param = new URLSearchParams()
                param.append('follow_id', this.userdetail.id)
                param.append('followed_id', this.profile_detail.id)
                result = await axios({
                    method: "POST",
                    url: "{% url "follow" %}",
                    data: param,
                })
                this.followornot = result.data.code
            },
            follow_fans: async function(index){
                if (!this.is_login) {
                    this.login()
                }
                fans = this.AllFans[index].id
                let param = new URLSearchParams()
                param.append('follow_id', this.userdetail.id)
                param.append('followed_id', fans)
                result = await axios({
                    method: "POST",
                    url: "{% url "follow" %}",
                    data: param,
                })
                if(result.data.code){
                    this.AllFans[index].mutual = !this.AllFans[index].mutual
                    this.getFollow()
                }
            },
            logout: function () {
                topbar.logout()
            },
            getVideo: function (v_id) {
                window.open(this.video_url + v_id)
            },
            search: function () {
                window.open(this.base_url + this.q)
                this.q = ""
            },
            jumpbyv_id: function (v_id) {
                window.open(this.video_url + v_id)
            },
            delVideo: function (e, v_id) {
                this.showDelMenu = true
                for (let item of this.videosList_mine) {
                    if (item["v_id"] == v_id) {
                        this.delList.push(item)
                    }
                }
            },
            delVideoSure: async function () {
                sure = this.Del_sure.toLowerCase()
                node = document.querySelector('#myvideo_' + this.delList[0]["v_id"])
                v_id = this.delList[0]["v_id"]
                videoIndex = null
                for (let item of this.videosList_mine) {
                    if (item["v_id"] == v_id) {
                        videoIndex = this.videosList_mine.indexOf(item)
                    }
                }
                if (sure == 'y') {
                    let param = new URLSearchParams()
                    param.append("v_id", v_id)
                    result = await axios({
                        method: "POST",
                        url: "{% url 'delVideo' %}",
                        data: param
                    })
                    this.refreshmsg()
                    node.classList.toggle("dying")
                    setTimeout(function () {
                        vm.videosList_mine.splice(videoIndex, 1)
                        node.classList.toggle("dying")
                    }, 500);
                    this.Del_sure = ""
                    this.showDelMenu = false
                    this.delList = []
                } else {
                    console.log("输入的什么JB")
                }
            },
            active_delbtn: function () {
                document.querySelector(".profile-content-myvideos").classList.toggle('active')
            },
            closeDelmenu: function () {
                this.showDelMenu = false
                this.delList = []
            },
            refreshmsg: async function () {
                let param = new URLSearchParams()
                param.append("user_id", this.userdetail.id)
                result = await axios({
                    method: "POST",
                    url: "{% url 'refreshmsg' %}",
                    data: param
                })
                this.messages = result.data
            },
            clearmsg: async function () {
                if (this.messages.msgcount == 0) {
                    alert("本来就没有")
                } else {
                    let param = new URLSearchParams()
                    param.append("user_id", this.userdetail.id)
                    result = await axios({
                        method: "POST",
                        url: "{% url 'clearmsg' %}",
                        data: param
                    })
                    console.log(result)
                    this.refreshmsg()
                }
            },
            tocloud: function () {
                window.open("https://cloud.lili-secretbase.com/");
            },
            getmorecollectvideo: async function () {
                let param = new URLSearchParams()
                param.append("count", this.videosList_collect.length)
                param.append("user_id", this.userdetail.id)
                result = await axios({
                    method: "POST",
                    url: "{% url 'getMoreCollectVideo' %}",
                    data: param
                })
            },
            getMyVideo: async function () {
                let param = new URLSearchParams()
                param.append("count", this.videosList_mine_count)
                param.append("user_id", this.profile_detail.id)
                result = await axios({
                    method: "POST",
                    url: "{% url 'getMyVideo' %}",
                    data: param
                })
                for (let item of result.data) {
                    this.videosList_mine.push(item)
                }
            },
            getFans:async function (){
                let param = new URLSearchParams()
                param.append("user_id", this.profile_detail.id)
                result = await axios({
                    method: "POST",
                    url: "{% url 'getFans' %}",
                    data: param
                })
                this.AllFans = result.data.data
                if(this.AllFans.length){
                    this.any_fans = true
                }
            },
            getFollow:async function (){
                let param = new URLSearchParams()
                param.append("user_id", this.profile_detail.id)
                result = await axios({
                    method: "POST",
                    url: "{% url 'getFollow' %}",
                    data: param
                })
                this.AllFollow = result.data.data
                if(this.AllFollow.length){
                    this.any_follow = true
                }
            },
            getHotestVideos:async function(){
                result = await axios({
                    method: "GET",
                    url: "{% url 'getHotestVideos' %}",
                })
                this.hotestVideos = result.data.data
            },
            toChat:async function (){
                document.querySelector('#chat_form').submit()
            },
            getChatInfo:async function(){
                result = await axios({
                    method: "GET",
                    url: "{% url 'getNameAndPic' %}",
                    params: {
                        u_id:this.profile_detail.id
                    }
                })
                for(let key in result.data){
                    this.profile_detail[key] = result.data[key]
                }
            },
        },
        watch: {
            profile_detail:{
                handler:(val,oldval)=>{
                    console.log(val)
                },
                deep:true
            },
            videosList_mine: function () {
                this.videosList_mine_count = this.videosList_mine.length
                this.videosPage.total = Math.ceil(this.videosList_mine.length / this.videosPage.each)
            },
            followornot: function () {
                if (this.followornot == 1) {
                    document.querySelector('.follow-text').innerHTML = "已关注"
                    this.profile_detail.fans += 1
                } else if (this.followornot == 2) {
                    document.querySelector('.follow-text').innerHTML = "+关注"
                    this.profile_detail.fans -= 1
                }
            },
        },
        mounted: function () {
            that = this
            if (this.followornot == 1) {
                document.querySelector('.follow-text').innerHTML = "已关注"
            } else if (this.followornot == 2) {
                document.querySelector('.follow-text').innerHTML = "+关注"
            }
            if (this.profile_detail.is_me == "True") {
                this.is_me = true
                this.getHotestVideos()
                this.refreshmsg()
                this.getmorecollectvideo()
                this.getFans()
                this.getFollow()
            }
            if(!(this.profile_detail.is_me == "True")){
                this.getChatInfo()
            }
            if (this.is_me) {
                let image = document.querySelector('#image')
                this.cropper = new Cropper(image, {
                    aspectRatio: 10 / 4,
                    viewMode: 2,
                    background: false,
                    zoomable: true,
                    center: false,
                    highlight: true,
                    scalable:true,
                    autoCropArea: 1,
                    ready: function () {
                        that.croppable = true;
                    }
                });
            }
            if (!this.profile_detail.setting.show_fans && !this.profile_detail.setting.show_hot && !this.profile_detail.setting.show_tools && !this.profile_detail.setting.show_fans){
                this.show_other = false
            }
            this.getMyVideo()
        }
    })
</script>
</html>