{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires"  content="0">
    <title>搜索结果</title>
    <link rel="shortcut icon" href="{% static 'images/search.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/root.css' %}?version=1.0.2" rel="stylesheet">
    <link href="{% static 'css/topbar.css' %}?version=1.0.3" rel="stylesheet">
    <link href="{% static 'css/search.css' %}?version=1.0.4" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        body {
            background-color: var(--Background-color);
            overflow-x: hidden;
            transition: all .5s ease;
        }
        @font-face {
            font-family: 'IcoMoon-Free';
            src: url('{% static 'css/IcoMoon-Free.ttf' %}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        .videos-top-search {
            display: none;
        }

        #app{
            height: 100vh;
            width: 100vw;
            overflow: auto;
        }
        #app::-webkit-scrollbar{
            width: 5px;
            height: 5px;
            scrollbar-arrow-color: red;
        }
        #app::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(0,0,0,0.4);
            scrollbar-arrow-color:red;
        }
        #app::-webkit-scrollbar-track {/*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 0;
            background: rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
{% include 'topbar.html' %}
<div id="app" v-cloak @scroll="listenScroll">
    <div class="search-container">
        <div class="search-content">
            <ul class="search-content-search">
                <li class="search-content-search-container">
                    <div style="position: relative;width: 100%">
                        <input type="text" placeholder="搜索" class="search-content-search-input" v-model="q"
                               @focus="inputActive" @blur="inputActive" @keyup.enter="search">
                        <i class="search-content-search-btn" @mousedown="search"></i>
                        <i class="search-content-search-cancel" @mousedown="clear"></i>
                    </div>
                    <button class="search-content-search-input-btn" @mousedown="search">
                        <i class="search"></i><span> 搜索</span>
                    </button>
                </li>
            </ul>
            <ul class="search-content-classify">
            </ul>
            <div class="search-result">
                <ul class="search-result-user">
                    <li v-for="(item,index) in result.user.exactness">
                        <div>
                            <img :src="avatar_url+result.user.exactness[0].picture" alt="">
                        </div>
                        <div style="display: flex;flex-direction: column;justify-content: center;flex-grow: 1">
                            <div class="search-result-user-info">
                                <div>
                                    <ul style="padding: 0px;margin-left: 5px">
                                        <li><h2 class="search-result-user-name-name" @click="toProfile(result.user.exactness[0].id)">{[ result.user.exactness[0].username ]}</h2>
                                            <span class="search-result-user-name-follow">
                                                <p>+关注</p>
                                            </span>
                                        </li>
                                        <li class="search-result-user-other">
                                            <p>{[ result.user.exactness[0].v_count ]} 投稿</p>
                                            <p>|</p>
                                            <p>{[ result.user.exactness[0].fans ]} 粉丝</p>
                                        </li>
                                        <li class="search-result-user-desc">{[ result.user.exactness[0].desc ]}</li>
                                    </ul>
                                    <ul class="search-result-user-videos">
                                        <li v-for="(item,index) in result.user.exactness[0].videos"
                                            class="search-result-user-videos-each">
                                            <div :style="{'background-image': 'url({% static 'videos/videopic/' %}'+item.v_pic+')','background-size':'cover'}"
                                                 class="search-result-user-videos-each-back"
                                                 @click="jumpbyV_id(item.v_id)">
                                                <span class="search-result-user-videos-each-time">
                                                    <span>{[ Math.floor(item.v_duaring/60)<10?"0"+Math.floor(item.v_duaring/60):Math.floor(item.v_duaring/60) ]}:{[ item.v_duaring%60<10?"0"+item.v_duaring%60:item.v_duaring%60 ]}</span>
                                                </span>
                                            </div>
                                            <div class="search-result-user-videos-info">
                                                <div>
                                                    <div>《{[item.v_title]}》</div>
                                                </div>
                                                <div>
                                                    <div><i class="play"></i> : {[item.v_play]}</div>
                                                    <div><i class="date"></i> : {[ item.v_time.year ]}-{[
                                                        item.v_time.month ]}-{[ item.v_time.day ]}
                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>
                    <div class="search-result-video-topbtns-container">
                        <ul class="search-result-video-topbtns">
                            <li class="active">综合排序</li>
                            <li>最新发布</li>
                            <li>最多播放</li>
                        </ul>
                        <div class="search-result-video-change">
                            <span class="list active" @click="changeMode('list',$event)"></span>
                            <span class="tablelist" @click="changeMode('table',$event)"></span>
                        </div>
                    </div>
                    <div class="noresult" v-if="queen.length==0">
                        <img src="{% static 'images/猫猫叹气.png' %}" alt="">
                    </div>
                    <div class="search-result-video-list-container" v-if="count!=0">
                        <ul class="search-result-video" v-if="mode.list">
                            <li v-for="(item,index) in queen.slice(listCount.begin,listCount.end)" class="search-result-video-each" :key="item.v_id">
                                <div :style="{'background-image': 'url({% static 'videos/videopic/' %}'+item.v_pic+')','background-size':'cover'}"
                                     class="search-result-video-each-back" @click="jumpbyV_id(item.v_id)">

                                    <span class="videos-each-collection" v-if="item.is_collection=='True'">
                                        <span class="menus"></span>
                                        {[ item.collection_count ]}
                                    </span>
                                </div>
                                <div class="search-result-video-each-info">
                                    <div>
                                        <h2>
                                            <i>{[item.v_type]}</i>
                                            <span @click="jumpbyV_id(item.v_id)">{[item.v_title]}</span>
                                        </h2>
                                        <div class="video-note" v-html="item.v_note"></div>
                                    </div>
                                    <div class="search-result-video-each-info-info">
                                        <span><i class="play"></i> : {[item.v_play]} </span>
                                        <span><i class="date"></i> : {[ item.v_time.year ]}-{[ item.v_time.month ]}-{[ item.v_time.day ]} {[ item.v_time.hour ]}:{[ item.v_time.minute ]}:{[ item.v_time.second ]}</span>
                                        <span @click="toProfile(item.v_auther_id)" style="cursor: pointer"><i class="auther"></i> : {[item.v_auther]} </span>
                                    </div>
                                </div>

                            </li>
                            <li></li>
                        </ul>
                        <div class="search-result-video-list-load" v-if="mode.list">
                            <div v-if="!listCount.all && !is_loading">下滑加载更多~</div>
                            <div class="loading active" v-if="is_loading"></div>
                            <div v-if="listCount.all">到头了~</div>
                        </div>
                    </div>
                    <div class="search-result-video-table-container" v-if="count!=0">
                        <div v-if="mode.table">
                            <ul class="search-result-table-video" >
                            <li v-for="(item,index) in queen.slice(tablePage.begin,tablePage.end)" class="search-result-table-video-each" :key="item.v_id">
                                <div>
                                    <div :style="{'background-image': 'url({% static 'videos/videopic/' %}'+item.v_pic+')','background-size':'cover'}" class="search-result-table-video-each-back" @click="jumpbyV_id(item.v_id)">
                                        <span class="videos-each-collection" v-if="item.is_collection=='True'">
                                        <span class="menus"></span>
                                        {[ item.collection_count ]}
                                    </span>
                                    </div>
                                <div class="search-result-video-table-each-info">
                                    <div>
                                        <h2>
                                            <span @click="jumpbyV_id(item.v_id)" class="search-result-title">{[item.v_title]}</span>
                                        </h2>
                                    </div>
                                    <div class="search-result-table-video-each-info-info">
                                        <span><i class="play"></i> : {[item.v_play]} </span>
                                        <span><i class="date"></i> : {[ item.v_time.year ]}-{[ item.v_time.month ]}-{[ item.v_time.day ]}</span>
                                    </div>
                                    <div class="search-result-table-video-each-info-info">
                                        <span @click="toProfile(item.v_auther_id)" style="cursor: pointer"><i class="auther"></i> : {[item.v_auther]} </span>
                                    </div>
                                </div>
                                </div>

                            </li>
                        </ul>
                            <ul class="paging">
                                    <li @click="prePage">上一页</li>
                                    <li v-if="tablePage.now>3" @click="changePage(1)">1</li>
                                    <li v-if="tablePage.now>4">...</li>
                                    <li v-for="index of tablePage.now" :key="index"
                                        v-if="index>tablePage.now-3 && index!=tablePage.now"
                                        @click="changePage(index)">
                                        {[ index ]}
                                    </li>
                                    <li class="active">{[ tablePage.now ]}</li>
                                    <li v-for="index of tablePage.total" :key="index"
                                        v-if="index>tablePage.now && index<tablePage.now+3"
                                        @click="changePage(index)">
                                        {[ index ]}
                                    </li>
                                    <li v-if="tablePage.now<tablePage.total-3">...</li>
                                    <li v-if="tablePage.now<tablePage.total-2" @click="changePage(tablePage.total)">
                                        {[tablePage.total]}
                                    </li>
                                    <li @click="nextPage">下一页</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;padding: 10px 10px;font-size: 15px;color: rgba(0,0,0,0.3);" >本站为个人兴趣，非商业用途，所有内容均收集于互联网公开资源，本站只提供WEB页面服务，不提供影片资源储存也不参与录制与上传，若本站收录内容无意侵犯了贵公司版权，请给网页底部邮箱地址来信，我会及时处理，谢谢合作。邮箱:2878305660@qq.com</div>
        </div>
    </div>
</div>
</body>
<script>
    const vm = new Vue({
        el: "#app",
        delimiters: ['{[', ']}'],
        data: {
            q: "",
            result:{{ result|safe }},
            queen: [],
            count: 0,
            is_loading:false,
            videosList_isLoading:false,
            videosList_end:false,
            mode:{
                table:false,
                list:true,
            },
            is_login:topbar.is_login,
            userdetail:topbar.userdetail,
            video_url:"{% url "index" %}"+"video/",
            base_url:"{% url 'index' %}"+"search?q=",
            avatar_url: "{% static 'images/avatar/' %}",
            logo:"{% static 'images/logo.png' %}",
            video_pic_url:"{% static 'videos/videopic/' %}",
            tablePage: {
                now: 1,
                page: "",
                total: 1,
                begin: 0,
                end: 20,
                each: 20,
            },
            listCount: {
                begin: 0,
                end: 10,
                each: 10,
                all:false,
            },
        },
        methods: {
            changePage: function (page) {
                this.tablePage.now = page
                this.tablePage.begin = page * this.tablePage.each - this.tablePage.each
                this.tablePage.end = page * this.tablePage.each
            },
            nextPage: function (){
                if(this.tablePage.now == this.tablePage.total){
                    return
                }
                this.tablePage.begin = this.tablePage.begin + this.tablePage.each
                this.tablePage.end = this.tablePage.begin + this.tablePage.each
                this.tablePage.now += 1
            },
            prePage: function (){
                if(this.tablePage.now==1){
                    return
                }
                this.tablePage.begin = this.tablePage.begin - this.tablePage.each
                this.tablePage.end = this.tablePage.begin + this.tablePage.each
                this.tablePage.now -= 1
            },
            jumpbyV_id(v_id) {
                window.open(this.video_url + v_id)
            },
            inputActive() {
                document.querySelector(".search-content-search-container").classList.toggle("active")
            },
            search() {
                window.location.href = this.base_url + this.q
            },
            clear() {
                this.q = ""
            },
            changeMode(mode,e){
                if(this.mode[mode] == true){
                    return
                }
                for(let key in this.mode)
                    this.mode[key] = false
                this.mode[mode]=true
                for(let node of document.querySelector('.search-result-video-change').querySelectorAll('span')){
                    node.classList.remove("active")
                }
                e.target.classList.add("active")
            },
            loadVideoList:function (){
                this.listCount.end = this.listCount.end+this.listCount.each
                if(this.listCount.end>=this.queen.length){
                    this.listCount.all = true
                }
                this.is_loading = false
            },
            listenScroll:function(){
                if(this.mode.table == true || this.videosList_isLoading==true || this.listCount.all==true){
                    return
                }
                if(document.querySelector('#app').scrollTop + document.querySelector('#app').offsetHeight > document.querySelector('#app').scrollHeight - 13 ){
                    this.is_loading = true
                    this.loadVideoList()
                }
            },
            toProfile:function (id){
                topbar.toProfile(id)
            }
        },
        mounted: function () {
            that = this
            this.tablePage.total = Math.ceil(this.result.queen.length/20)
            if (this.result.queen != 0) {
                for (let item of this.result.queen) {
                    this.queen.push(item)
                }
                this.count = this.result.queen.length
                if(this.count<=10){
                    this.listCount.all = true
                }
            } else {}

        },
        watch: {

        },
    })
</script>
</html>