{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires"  content="0">
    <link rel="shortcut icon" href="{% static 'images/setting.png' %}">
    <link href="{% static 'css/topbar.css' %}?version=1.0.1" rel="stylesheet">
    <link href="{% static 'css/root.css' %}?version=1.0.0" rel="stylesheet">
    <link href="{% static 'css/setting.css' %}?version=1.0.10" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://lib.baomitu.com/cropperjs/2.0.0-alpha/cropper.min.css" rel="stylesheet">
    <script src="https://lib.baomitu.com/cropperjs/2.0.0-alpha/cropper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://lib.baomitu.com/cropperjs/2.0.0-alpha/cropper.min.js"></script>
    <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.min.js"></script>
    <style>
        #app {
            display: flex;
        }

        body {
            background-color: var(--Background-color);
            overflow-x: hidden;
            width: 100vw;
            height: 100vh;
            position: relative;
        }

        ul {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
{% include 'topbar.html' %}
<div id="app" v-cloak>
    <ul class="sidebar-menus">
        <li onclick="window.location.href='/setting/setting_info/'">隐私设置</li>
        <li onclick="window.location.href='/setting/setting_profile/'">个人资料</li>
        <li onclick="window.location.href='/setting/setting_avatar/'">头像</li>
        <li onclick="window.location.href='/setting/setting_password/'">更改密码</li>
    </ul>
    <div class="setting-container">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
<script>
    const vm = new Vue({
        el: "#app",
        delimiters: ['{[', ']}'],
        data: {
            userdetail: topbar.userdetail,
            message: "",
            video_url: "{% url "index" %}" + "video/",
            base_url: "{% url 'index' %}" + "search?q=",
            avatar_url: "{% static 'images/avatar/' %}",
            profile_url: "{% url 'profile' %}" + "?user=",
            avatar: '',
            picValue: '',
            cropper: '',
            croppable: false,
            panel: false,
            url: '',
            password_form: {
                old: "",
                new: "",
                again: "",
            },
            setting_form:{
                is_search:0,
                show_profile:0,
                show_desc:0,
                show_video:0,
                show_collect:0,
                show_gender:0,
                show_chat:0,
                show_discuss:0,
                show_hot:0,
                show_fans:0,
                show_tools:0,
                show_message:0,
            },
            message: "",
            loading:false,
        },
        methods: {
            add_active: function (e) {
                e.target.classList.add('active')
            },
            remove_active: function (e) {
                e.target.classList.remove('active')
            },
            toProfile: function (id) {
                topbar.toProfile(id)
            },
            upload_avatar: function () {
                document.querySelector('#change').click()
            },
            changeGender: function (gender, e) {
                this.userdetail.gender = gender
                for (let item of document.querySelector('.setting-info-gender').querySelectorAll('span')) {
                    item.classList.remove('active')
                }
                e.currentTarget.classList.add('active')
            },
            save: async function () {
                let param = new URLSearchParams()
                param.append('id', this.userdetail.id)
                param.append('name', this.userdetail.name)
                param.append('gender', this.userdetail.gender)
                param.append('desc', this.userdetail.desc)
                result = await axios({
                    method: "POST",
                    url: "{% url 'save_profile' %}",
                    data: param,
                })
            },
            getObjectURL(file) {
                var url = null;
                if (window.createObjectURL != undefined) { // basic
                    url = window.createObjectURL(file);
                } else if (window.URL != undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file);
                } else if (window.webkitURL != undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file);
                }
                return url;
            },
            change(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                this.panel = true;
                this.picValue = files[0];
                this.url = this.getObjectURL(this.picValue);
                //每次替换图片要重新得到新的url
                if (this.cropper) {
                    this.cropper.replace(this.url);
                }
                this.panel = true;
            },
            crop() {
                this.panel = false;
                var croppedCanvas;
                var roundedCanvas;
                if (!this.croppable) {
                    return;
                }
                // Crop
                croppedCanvas = this.cropper.getCroppedCanvas();
                console.log(this.cropper)
                // Round
                roundedCanvas = this.getRoundedCanvas(croppedCanvas);
                this.avatar = croppedCanvas.toDataURL();

                this.postImg()
            },
            getRoundedCanvas(sourceCanvas) {
                var canvas = document.createElement('canvas');
                var context = canvas.getContext('2d');
                var width = sourceCanvas.width;
                var height = sourceCanvas.height;
                canvas.width = width;
                canvas.height = height;
                context.imageSmoothingEnabled = true;
                context.drawImage(sourceCanvas, 0, 0, width, height);
                context.globalCompositeOperation = 'destination-in';
                context.beginPath();
                context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
                context.fill();
                return canvas;
            },
            async postImg() {
                let param = new FormData()
                param.append('avatar', this.avatar)
                param.append('user_id', this.userdetail.id)
                result = await axios({
                    method: "POST",
                    url: "{% url 'save_avatar' %}",
                    data: param,
                })
                if (result.data.code == 1) {
                    setTimeout(function () {
                        window.location.reload()
                    }, 500)
                }
            },
            async old_password_check() {
                old_span = document.querySelector('.old_span')
                if (this.password_form.old == '') {
                    this.message = '旧密码不能为空'
                    old_span.classList.remove('true')
                    old_span.classList.remove('false')
                    old_span.classList.add('false')
                    return false
                }
                let param = new URLSearchParams()
                param.append('old_password', this.password_form.old)
                param.append('username', this.userdetail.name)
                result = await axios({
                    method: "POST",
                    url: "{% url 'password_check' %}",
                    data: param,
                })
                if (result.data.code == 1) {
                    old_span.classList.remove('true')
                    old_span.classList.remove('false')
                    old_span.classList.add('true')
                    this.message = ''
                    return true
                } else {
                    old_span.classList.remove('true')
                    old_span.classList.remove('false')
                    old_span.classList.add('false')
                    this.message = '旧密码不正确'
                    return false
                }
            },
            new_password_check() {
                new_span = document.querySelector('.new_span')
                again_span = document.querySelector('.again_span')
                if (this.password_form.new == '') {
                    new_span.classList.remove('true')
                    new_span.classList.remove('false')
                    new_span.classList.add('false')
                    this.message = '新密码不能为空'
                    return false
                }
                if (this.password_form.again == '') {
                    again_span.classList.remove('true')
                    again_span.classList.remove('false')
                    again_span.classList.add('false')
                    this.message = '请输入确认密码'
                    return false
                }
                if (this.password_form.new != this.password_form.again) {
                    again_span.classList.remove('true')
                    again_span.classList.remove('false')
                    again_span.classList.add('false')
                    new_span.classList.remove('true')
                    new_span.classList.remove('false')
                    new_span.classList.add('false')
                    this.message = '两次密码不同'
                    return false
                }
                if (this.password_form.new == this.password_form.old) {
                    again_span.classList.remove('true')
                    again_span.classList.remove('false')
                    again_span.classList.add('false')
                    new_span.classList.remove('true')
                    new_span.classList.remove('false')
                    new_span.classList.add('false')
                    this.message = '旧密码与新密码相同'
                    return false
                }
                again_span.classList.remove('true')
                again_span.classList.remove('false')
                again_span.classList.add('true')
                new_span.classList.remove('true')
                new_span.classList.remove('false')
                new_span.classList.add('true')
                this.message = ''
                return true
            },
            async change_password() {
                if(this.new_password_check() && this.old_password_check()){
                    let param = new URLSearchParams()
                    param.append('new_password', this.password_form.new)
                    param.append('username', this.userdetail.name)
                    result = await axios({
                        method: "POST",
                        url: "{% url 'change_password' %}",
                        data: param,
                    })
                    if(result.data.code==1){
                        setTimeout(function (){
                            window.location.reload()
                        },2000)
                    }
                    this.message = "密码修改成功"
                }
            },
            async getMySetting() {
                let param = new URLSearchParams()
                param.append('u_id', this.userdetail.id)
                result = await axios({
                    method: "POST",
                    url: "{% url 'getMySetting' %}",
                    data: param
                })
                for(let item in result.data){
                    result.data[item] = result.data[item]?true:false
                }
                this.setting_form = result.data
            },
            async changeMySetting(option,value){
                let param = new URLSearchParams()
                param.append('u_id', this.userdetail.id)
                param.append('option', option)
                param.append('value', value?1:0)
                result = await axios({
                    method: "POST",
                    url: "{% url 'changeMySetting' %}",
                    data: param
                })
            },
        },
        mounted: function () {
            let that = this;
            if(document.querySelector('.setting-profile')){
                this.getMySetting()
            }
            if (document.getElementById('image')) {
                let image = document.getElementById('image')
                this.cropper = new Cropper(image, {
                    aspectRatio: 1,
                    viewMode: 2,
                    background: false,
                    zoomable: false,
                    center: false,
                    highlight: false,
                    ready: function () {
                        that.croppable = true;
                    }
                });
            }

        },
         watch:{
             setting_form_new:{
                 handler(val, oldVal){
                     if(!this.loading){
                         this.loading = !this.loading
                     }
                     else{
                         for(let key in val){
                             if(val[key]!=oldVal[key]){
                                 option = key
                                 value = this.setting_form[option]
                                 this.changeMySetting(option,value)
                             }
                         }

                     }
                 },
                 deep:true,
             }
         },
        computed: {
          setting_form_new() {
            return JSON.parse(JSON.stringify(this.setting_form))
          }
        }
    })
</script>
</html>