{% extends "setting.html" %}
{% block content %}
    {% load static %}
    <div class="setting-password">
        <form action="">
            <ul class="password-group">
                <li>
                    <div class="input-group">
                        <span class="input-group-text old_span" id="basic-addon1">旧密码</span>
                        <input type="password" class="form-control" aria-label="Username"
                               aria-describedby="basic-addon1" @blur="old_password_check()"
                               v-model="password_form.old" placeholder="请输入旧密码" autocomplete="off">
                    </div>

                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-text new_span" id="basic-addon1">新密码</span>
                        <input type="password" class="form-control" aria-label="Username"
                               aria-describedby="basic-addon1" v-model="password_form.new" placeholder="请输入新密码"
                               autocomplete="off" @blur="new_password_check()">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-text again_span" id="basic-addon1">确认密码</span>
                        <input type="password" class="form-control" aria-label="Username"
                               aria-describedby="basic-addon1" v-model="password_form.again" placeholder="请重复新密码" autocomplete="off" @blur="new_password_check()">
                    </div>
                </li>
                <li style="color: red">{[message]}</li>
                <li style="display: flex;justify-content: space-between;align-items: center;margin-top: 50px">
                    <span style="padding: 4px 8px;border: 1px solid black;cursor: pointer" @click="change_password">确认</span>
                    <img src="{% static 'images/cat/5.png' %}" alt="" style="width: 150px;height: 150px;opacity: .5">
                </li>

            </ul>
        </form>
    </div>
{% endblock %}