{% extends "setting.html" %}
{% block content %}
    {% load static %}
    <title>个人资料</title>
    <div class="setting-profile">
        <div class="setting-account">
            <div class="setting-info">
                <div>我的信息</div>
                <ul class="setting-info-detail">
                    <li>我的昵称 <input type="text" style="margin:0px 10px;border-radius: 5px;padding: 2px 5px" v-model="userdetail.name" @focus="add_active($event)" @blur="remove_active($event)"></li>
                    <li class="setting-info-gender">性别
                        <span @click="changeGender('male',$event)">男</span>
                        <span @click="changeGender('female',$event)">女</span>
                    </li>
                    <li  style="display: flex;align-items: center;">
                        <label for="bday">生日</label>
                        <input type="date" class="form-control" placeholder="user" style="max-width: 200px;margin-left: 20px" id="bday"/>
                    </li>
                    <li>
                         <div class="form-floating">
                            <textarea class="form-control desc_text" placeholder="Leave a comment here" id="floatingTextarea2"
                                      style="height: 80px" maxlength="100" v-model="userdetail.desc" @focus="add_active($event)" @blur="remove_active($event)"></textarea>
                            <label for="floatingTextarea2">个人签名</label>
                        </div>
                    </li>
                    <li>
                        <div class="setting-info-save">
                            <span @click="save">保存</span>
                            <img src="{% static 'images/cat/3.png' %}" alt="" class="cat">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}