{% load static %}

<div class="warning-myself">
        <div>
            <img src="{% static "images/logo.png" %}" alt="" style="height: 40px;margin: 10px;cursor: pointer" onclick="window.open('{% url 'index' %}')">
        </div>
            <div class="input-group videos-top-search">
              <button class="btn btn-outline-secondary" type="button" id="button-addon1" @click="search"><i class="videos-top-search-btn"></i></button>
              <input type="text" class="form-control" placeholder="搜索" aria-label="Example text with button addon" aria-describedby="button-addon1" v-model="q">
            </div>
        <ul class="video-user-info" v-if="is_login">
            <li>
                <i class="menus"></i>
            </li>
            <li>
                <i class="msg"></i>
            </li>
            <li @click="logout">
                <i class="logout"></i>
            </li>
            <li>
                 <img :src="this.avatar_url+userdetail.picture" alt="" class="video-user-pic" v-if="is_login" @click="toProfile(userdetail.id)">
            </li>
        </ul>
        <ul class="video-user-info" v-if="!is_login">
            <li>
                <span class="video-user-info-login" @click="login">登录</span>
            </li>
        </ul>
</div>
<script>
    const topbar = new Vue({
        el: ".warning-myself",
        delimiters: ['{[', ']}'],
        data:{
            q: "",
            video_url:"{% url "index" %}"+"video/",
            base_url:"{% url 'index' %}"+"search?q=",
            avatar_url: "{% static 'images/avatar/' %}",
            profile_url:"{% url 'profile' %}"+"?user=",
            is_login: false,
            userdetail:{
                name: "{{ request.user.username }}",
                id: "{{ request.user.id }}",
                email: "{{ request.user.email }}",
                is_active: "{{ request.user.is_active }}",
                date_joined: "{{ request.user.date_joined }}",
                gender: "{{ request.user.gender }}",
                picture: "{{ request.user.picture }}",
                fans: "{{ request.user.fans }}",
                v_count:"{{ request.user.fans }}",
            },
        },
        methods:{
            search: function () {
                window.open(this.base_url + this.q)
                this.q = ""
            },
            login:function() {
                window.location.href = "{% url 'login' %}"
            },
            logout: async function () {
                result = await axios({
                    method: "GET",
                    url: "{% url 'logout' %}",
                })
                if(result.data == "done"){
                    location.reload()
                }
            },
            is_login_check() {
                if ("{{ request.user.is_authenticated }}" == "True") {
                    this.is_login = true
                    this.username = "{{ request.user.username }}"
                } else {
                    this.is_login = false
                }
            },
            toProfile:function (id='me'){
                if(id=='me'){
                    window.open('{% url 'profile' %}')
                }
                else{
                    window.open(this.profile_url+id)
                }
            },
        },
        mounted: function () {
            this.is_login_check()
        },
    })
</script>